@font-face {
    font-family: 'holidayregular';
    src: url('/fonts/holiday-webfont.woff2') format('woff2'),
         url('/fonts/holiday-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'MS pGothic';
    margin: 0;
    background-color: black;
    color: #fceaff;

}

table, td, tr {
    border: 1px solid #9480bf;
    padding: 10px;
}

* {
    box-sizing: border-box;
}


#container {
    max-width: 900px;
    margin: 0 auto;
}

#container a {
    background-color: #43256E;
    color: #d1cce4;
    font-weight: bold;
    text-decoration: none;
    line-height: 20px;
}

#flex {
    display: flex;
}

aside {
    background: black url(/images/backgrounds/battleback_ow_xsbf.png);
    background-size: cover;
    width: 230px;
    padding: 20px;
    font-size: smaller;
}

main {
    background-color: black;
    border: 2pt dotted #d0b6d9;
    flex: 1;
    padding: 20px;
    order: 2;
    height: 710px;
    overflow: auto;
}

*/ #leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}

footer {
    background-color: #13092D;
    /* background color for footer */
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    /* this centers the footer text */
}

h1,
h2,
h3 {
    color: #d0b6d9;
    font-family:  'Times New Roman', Times, serif;
}

h1 {
    font-size: 25px;
}

strong {
    color: #9480bf;
}

.box {
    background-color: black;
    border: 1px solid #d0b6d9;
    padding: 10px;
    font-size: small;
}

/* for blog down below */
.container {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 500px;

  }
  
  .collapsible {
      background: url(/images/backgrounds/battleback_dw_abbi.png);
      color: white;
      cursor: pointer;
      font-family: 'MS pGothic';
      padding: 18px;
      width: 500px;
      border: none;
      text-align: center;
      outline: none;
      font-size: 15px;
    }
  
    .content {
      padding: 18px;
      display: none;
      overflow: hidden;
      width: 464px;
      text-align: justify;
    }
  
