@font-face {
    font-family: 'MS PGothic';
    src: url('/fonts/MS-PGothic.eot');
    src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/MS-PGothic.woff2') format('woff2'),
        url('/fonts/MS-PGothic.woff') format('woff'),
        url('/fonts/MS-PGothic.ttf') format('truetype'),
        url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'holidayregular';
    src: url('/fonts/holiday-webfont.woff2') format('woff2'),
         url('/fonts/holiday-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1.5;
}

h1 {
    font-family: 'MS PGothic';
    color: white;
}

p {
    font-family: 'MS PGothic';
    font-size: large;
    line-height: 1.5;
    text-align: justify;
}

#flex {
    display: flex;
}

a {
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
}