@font-face {
    font-family: 'rainyheartsmedium';
    src: url('rainyhearts-webfont.woff2') format('woff2'),
         url('rainyhearts-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dualityregular';
    src: url('duality-webfont.woff2') format('woff2'),
         url('duality-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    line-height: 1.5;
}

h1 {
    font-family: 'rainyheartsmedium';
    color: white;
}

p {
    font-family: 'rainyheartsmedium';
    font-size: large;
    line-height: 1.5;
    text-align: justify;
}

#flex {
    display: flex;
}