@font-face {
        font-family: 'holidayregular';
        src: url('/fonts/holiday-webfont.woff2') format('woff2'),
             url('/fonts/holiday-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

body {
    line-height: 1.5;
}

h1 {
    font-family: 'rainyheartsmedium';
    color: white;
}

p {
    font-family: 'rainyheartsmedium';
    font-size: large;
    line-height: 1.5;
    text-align: justify;
}

#flex {
    display: flex;
}