@font-face {
    font-family: 'holidayregular';
    src: url('/fonts/holiday-webfont.woff2') format('woff2'),
         url('/fonts/holiday-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'MS PGothic';
  src: url('/fonts/MS-PGothic.eot');
  src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/MS-PGothic.woff2') format('woff2'),
      url('/fonts/MS-PGothic.woff') format('woff'),
      url('/fonts/MS-PGothic.ttf') format('truetype'),
      url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    background-image: url(/images/backgrounds/battleback_ow_xsbf.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'MS PGothic';
}

center {
    text-align: center;
    }

a {
    color: #9480bf;
    font-weight: bold;
    text-decoration: underline;
}

p {
    text-align: justify;
    font-family: 'MS PGothic';
    line-height: 1.43;
}

h1,
h2 {
    color: #d0b6d9;
    font-family:  'Times New Roman', Times, serif;
}


h1 {
    font-size: 25px;
}

strong {
    color: #9480bf;
}

/*All sidebars go in here.*/  
.sidebar-group {
    position: fixed;
    top: 0;
    margin-top: 25px;
    }
    
  /*Code shared by all window-style boxes. To see what different specific sidebar classes look like, check the demo page.*/
  .sidebar, .mini-sidebar, .wide-sidebar, .box {
    background: #e1d5f7;
    border-radius: 5px;
    border: 1px solid #9480bf;
    box-shadow: 2px 2px #8065ba;
    }
    
  /*Prevent image overflow.*/
  .sidebar img, .mini-sidebar img, .wide-sidebar img {
    max-width: 100%;
    height:auto; /*Prevent squishing*/
    }
    
  .sidebar, .sidebar-box {
    display: inline-block;
    vertical-align: top;
    width: 160px;
}
    
  /*Container for vertical stacks of multiple mini-sidebars*/
  .sidebar-box {
    margin-left: 10px;
    }
    
  .sidebar {
    width: 160px;
    margin-left: 25px;
    }
    
  .mini-sidebar {
    margin-bottom: 25px;
    }
    
  /*Inside/main text of window boxes.*/
  .inner {
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    }
  
  /*The title bar at the top of window boxes.*/
  .title-bar, .box-title-bar {
    background: #8065ba;
    color: white;
    font-weight: bold;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    }
    
  /*The title bar of boxes has slightly more padding, since there's more room to space text.*/
  .box-title-bar {
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    }
    
  /*For the symbol in the top right corner.*/
  .right {
    float: right;
    margin-right: 5px;
    font-family: "Arial", sans-serif;
    line-height: 12px;
    }
    
  /*Round circular image.*/
  .icon {
    border: #9480bf solid 2px;
    border-radius: 50%;
    }
    
  /*Main body text boxes.*/
  .box {
    margin-top: 25px;
    margin-left: 400px;
    width: 455px;
    margin-bottom: 25px;
    }
