@font-face {
    font-family: 'addstandardbitmappoint9';
    src: url('/fonts/addsbp__-webfont.woff2') format('woff2'),
         url('/fonts/addsbp__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f9f7f5;
}

h1, h2 {
    font-family: 'addstandardbitmappoint9', Tahoma;
}

h3 {
    font-family: 'addstandardbitmappoint9', Tahoma;
    font-size: 1.17rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p, ul, li, marquee {
    font-family: Tahoma;
    font-size: 12px;
    line-height: 13px;
    font-weight: lighter;
}

a {
    font-family: Tahoma;
    font-size: 12px;
    line-height: 13px;
    text-decoration: none;
    color: #EF7C8E;
}

a:hover {
    color: #88CA5E;
}

ul {
    list-style: url("https://sadgrl.online/images/lyts/not-mine/hearth_rosa.gif");

}


#container {
    max-width: 900px;
    margin: 0 auto;
    
}

aside {
    background-color: #B2D2A4;
    width: 160px;
    padding: 20px;
    font-size: smaller;
}

#flex {
    display: flex;
}

main {
    background-color: #f9f7f5;
    flex: 1;
    padding: 20px;
    order: 2;
    background-image: radial-gradient(#b49d81 50%, transparent 10%);
    background-size: 4px 4px;
}

footer {
    background-color: #f9f7f5;
    font-family: Tahoma;
    font-size: 12px;
    width: 877px;
    height: 30px;
    padding: 10px;
    text-align: center;
    border: 1px dotted #b49d81;
}

.box {
    background-color: #F1C0B9;
    border: 1px solid #88CA5E;
    padding: 10px;    
}

#topBar {
    font-family: Tahoma;
    width: 877px;
    height: 10px;
    padding: 10px;
    font-size: smaller;
    background-color: #f9f7f5;
    border: 1px dotted #b49d81;
}