* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'rainyheartsmedium'
}

body {
    background-color: black;
}

#sidebar {
    background-color: black;
    float: left;
    background-image: url(/images/newhome/1-1422621832.png);
    background-repeat: repeat;
    background-size: 160%;
    width: 220px;
    height: 670px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

@font-face {
    font-family: 'magazine_letter_by_brntlbrnRg';
    src: url('/fonts/magazineletterbybrntlbrnl-regular-webfont.woff2') format('woff2'),
         url('/fonts/magazineletterbybrntlbrnl-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'Charleston';
    src:url('/fonts/Charleston.ttf.woff') format('woff'),
        url('/fonts/Charleston.ttf.woff') format('svg'),
        url('/fonts/Charleston.ttf.eot'),
        url('/fonts/Charleston.ttf.eot') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'holidayregular';
    src: url('/fonts/holiday-webfont.woff2') format('woff2'),
         url('/fonts/holiday-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#flex {
    display: flex;
}

div {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 10px;
}

p, h1, h2, h3, marquee, a, ul, li {
    color: white;
}

h1 {
    font-family: Tahoma,;
    padding: 15px;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: large;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

p {
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
    text-align: justify;
}

a {
    text-decoration: underline;
    color: #d43b45;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #266388;
    font-weight: bold;
}

ul {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

li {
    font-size: medium;
}

#statuscafe {
    padding: 5px;
    background-color: #f2d6bf;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}
#statuscafe-username {
    color: #e2875e;
    text-decoration: none;
    font-weight: bold;
    font-size: large;

}
#statuscafe-content {
    margin-bottom: 12px;
    font-size: large;
    display: flex;
    align-items: center;
}

figure {
    border: none;
    padding: 6px;
    margin: auto;
  }

  figcaption {
    display: block;
    background-color: #d43b45;
    color:#f2d6bf;
    padding: 2px;
    text-align: center;
  }

  div.gallery {
    margin: 5px;
    border: none;
    float: left;
    width: 210px;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  