@font-face {
    font-family: 'EB Garamond';
    src: url('/fonts/EBGaramond-Regular.woff2') format('woff2'),
        url('/fonts/EBGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url(/images/backgrounds/podbg.png);
    background-size: cover;
}

.title {
    width: 800px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 3px outset rgb(255, 255, 255);
    padding: 20px;
    margin: 0 auto;
    margin-top: 80px;
}

h1 {
    font-family: 'EB Garamond';
    font-size: 8em;
    line-height: .8em;
    margin: 20px 0px 70px;
    text-align: right;
}

h2 {
    font-family: 'EB Garamond';
}

p {
    font-family: 'EB Garamond';
    text-align: justify;
    display: flex;
}

a {
    text-decoration: none;
}

.pickme {
    width: 840px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 3px outset rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 20px;
    overflow: auto;
    white-space: nowrap;
}

iframe.display {
    width: 800px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 3px outset rgb(255, 255, 255);
    padding: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    overflow:hidden ;
}

.box {
    width: 78px;
    height: 78px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: 0;
    margin-left: 10px;
    margin-top: 0px;
}

.box .img-top {
    display: none;
    position: absolute;
    top: 2;
    left: 0;
    margin-left: 0px;
    z-index: 99;
}
.box:hover .img-top {
    display: inline;
}