@font-face {
    font-family: 'holidayregular';
    src: url('/fonts/holiday-webfont.woff2') format('woff2'),
         url('/fonts/holiday-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MS PGothic';
    src: url('/fonts/MS-PGothic.eot');
    src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/MS-PGothic.woff2') format('woff2'),
        url('/fonts/MS-PGothic.woff') format('woff'),
        url('/fonts/MS-PGothic.ttf') format('truetype'),
        url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    font-family: 'MS PGothic';
}

body {
    margin: 0;
    background-color: black;
    color: #fceaff;
}

table, td, tr {
    border: 1px solid #9480bf;
    padding: 10px;
    font-family: 'MS PGothic';
}

* {
    box-sizing: border-box;
}

a {
    background-color: #9480bf;
    color: #fceaff;
    text-decoration: none;
}

#container {
    max-width: 900px;
    margin: 0 auto;
}

#container a {
    background-color: #43256E;
    color: #d1cce4;
    font-weight: bold;
    text-decoration: none;
    line-height: 20px;
}

#flex {
    display: flex;
}

aside {
    background: black url(/images/backgrounds/battleback_ow_xsbf.png);
    background-size: cover;
    width: 230px;
    padding: 20px;
    font-size: smaller;
    height: 550px;

}

main {
    background-color: black;
    border: 2pt dotted #d0b6d9;
    flex: 1;
    padding: 20px;
    order: 2;
    height: 550px;
    overflow: auto;
}

*/ #leftSidebar {
    order: 1;
}

h1,
h2,
h3 {
    color: #d0b6d9;
    font-family:  'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    font-size: 25px;
}

strong {
    color: #9480bf;
}

.box {
    background-color: black;
    border: 1px solid #d0b6d9;
    padding: 10px;
    font-size: small;
}

/* for blog down below */
.container {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 500px;

  }
  
  .collapsible {
      background: url(/images/backgrounds/battleback_dw_abbi.png);
      color: white;
      cursor: pointer;
      font-family: 'MS PGothic';
      padding: 18px;
      width: 500px;
      border: none;
      text-align: center;
      outline: none;
      font-size: 15px;
    }
  
    .content {
      padding: 18px;
      display: none;
      overflow: hidden;
      width: 464px;
      text-align: justify;
    }
  
/* down here is tab styling */
        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px dotted #d0cbe3;
            background-color: #d0cbe3;
            width: 600px;
          }
          
          /* Style the buttons inside the tab */
          .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
          }
          
          /* Change background color of buttons on hover */
          .tab button:hover {
            background-color: #9480bf;
          }
          
          /* Create an active/current tablink class */
          .tab button.active {
            background-color: #9480bf;
          }
          
          /* Style the tab content */
          .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px dotted #d0cbe3;
            border-top: none;
            width: 600px;
          }

          .column {
            float: left;
            width: 50%;
          }
          
          /* Clear floats after the columns */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }

          .hide {
            display: none;
          }
          
          .myDIV:hover + .hide {
            display: block;
          }