@font-face {
    font-family: 'holidayregular';
    src: url('/fonts/holiday-webfont.woff2') format('woff2'),
         url('/fonts/holiday-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MS PGothic';
    src: url('/fonts/MS-PGothic.eot');
    src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/MS-PGothic.woff2') format('woff2'),
        url('/fonts/MS-PGothic.woff') format('woff'),
        url('/fonts/MS-PGothic.ttf') format('truetype'),
        url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    font-family: 'MS PGothic';
    box-sizing: border-box;
    cursor: url(/mooncursor.cur), pointer;
}

p {
    text-align: justify;
}

.main {
    width: 860px;
    height: 630px;
    background-image: url(/images/jjk-shrine/jjkbackground.jpg);
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
    margin-top: 2%;
}

.navi {
    width: 160px;
    height: 405px;
    border: 1px solid black;
    background-color: white;
    float: left;
    padding: 10px;
}

.countdown {
    width: 260px;
    height: 160px;
    border: 1px black solid;
    background-color: white;
    padding: 10px;
    z-index: 5;
    position: absolute;
    margin-top: 250px;
    margin-left: -60px;
}

iframe {
    display: flex;
    border: 1px solid black;
    background-color: white;
    float: right;
    width: 670px;
    height: 430px;
    padding-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}


h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 74pt;
    line-height: .75;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: .75;
}

li {
    margin-left: -20px;
    padding: 0;
}

a {
    background-color: #ffffcc;
    color: black;
}

a.link {
    background-color: transparent;
    color: blue;

/*modal images*/

#myImg {
    border-radius: 5px;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 400px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    background-color: transparent;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* photo collage */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }