@font-face {
    font-family: 'MS PGothic';
    src: url('/fonts/MS-PGothic.eot');
    src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/MS-PGothic.woff2') format('woff2'),
        url('/fonts/MS-PGothic.woff') format('woff'),
        url('/fonts/MS-PGothic.ttf') format('truetype'),
        url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    cursor: url(/mooncursor.cur), pointer;
}

body {
    font-family: 'MS PGothic';
    color: black;
    font-size: medium;
    width: 900px;
    position: relative;
    margin: 0 auto;
}

.container {
    width: 1130px;
    border: 1px dashed green;
    float: left;
    display: flex;
    padding: 20px;
    background-image: url(/images/backgrounds/page_background_animated_04.gif);
    z-index: 1;
    height: 1300px;
    margin-bottom: 140px;
    margin-left: -70px;
}

.sidebar {
    border: 2px dashed #ffd472;
    display: flexbox;
    position: absolute;
    background-color: lightgoldenrodyellow;
    float: right;
    z-index: 1;
    margin-left: 920px;
    margin-top: 170px;
    width: 187px;
    height: 1091px;
    padding: 10px;
}

.welcome {
    width: 100%;
    border: 2px cornflowerblue dashed;
    z-index: 2;
    height: 150px;
    padding-left: 20px;
    margin-left: 100px;
    overflow: scroll;
    padding-left: 65px;
    padding-right: 20px;
    background: url(https://sadhost.neocities.org/images/tiles/Background064.gif);
}

img.polaroid {
    z-index: 1000;
    display: flex;
    position: absolute;
}

iframe.updates {
    width: 156px;
    border: 2px darkseagreen dashed;
    height: 200px;
    position: absolute;
    float: right;
    margin-top: 169px;
    display: grid;
    margin-left: 740px;
    overflow: hidden;
    z-index: 2;
}

iframe.fanclubs {
    position: absolute;
    z-index: 1;
    src: url(/fanclubs.html);
    border: 2px plum dashed;
}

div.sotw {
    border: 2px hotpink dashed;
    width: 620px;
    height: 121px;
    position: absolute;
    margin-left: 100px;
    margin-top: 169px;
    z-index: 2;
    background-image: url(https://sadhost.neocities.org/images/tiles/gskbg.jpg)
}

a {
    color: white;
    font-weight: bold;
}

a.linknavi {
    text-align: center;
    background-color: #e5fe89;
    color: #549f0e;
    position: absolute;
    padding: 3px;
    width: 170px;
}

a.linknavi:hover {
    text-align: center;
    background-color: #ffd3e8;
    color: #ed709c;
    position: absolute;
    padding: 3px;
    width: 170px;
}

a.linkspage {
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
    color: #ffada8;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
  }
  
.marquee span {
    padding-left: 100%;
    animation: marquee 30s linear infinite;
}
  
.marquee2 span {
    animation-delay: 15s;
}
  
@keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
}

.navi {
    float: left;
    display: flex;
    position: absolute;
    width: 180px;
    height: 540px;
    border: black 1px solid;
    margin-top: 520px;
    margin-left: 10px;
    padding: 15px;
    background-image: url(/images/home/navi_background.png);
    background-size: cover;
    border: 2px #549f0e dashed;
}

iframe.main {
    display: flexbox;
    margin-top: 520px;
    margin-left: 257px;
    position: absolute;
    height: 570px;
    width: 640px;
    border: 2px #ed709c dashed;
}

.box {
    border: 2px #ffada8 solid;
    background-color: #ffe9e5;
    padding: 10px;
    margin-bottom: 20px;
    font-size: small;
}

.mybutton {
    width: 350px;
    position: absolute;
    border: 2px pink dashed;
    height: 120px;
    margin-top: 1120px;
    margin-left: 12px;
    background-image: url(/images/backgrounds/basil_border.png);
    background-size: 100% 100%;
    padding-top: 40px;
}

.webrings {
    height: 110px;
    padding: 10px;
    position: absolute;
    width: 478px;
    margin-top: 1120px;
    border: 2px #fd9684 dashed;
    margin-left: 400px;
    background-image: url(/images/backgrounds/roesbudtrelbg.gif);
    overflow: scroll;
    padding-top: 40px;
}


/* for blog down below */
.cont {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.collapsible {
    background: url(https://sadhost.neocities.org/images/tiles/skystarlight.gif);
    background-size: auto;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    font-family: 'MS PGothic';
    padding: 18px;
    width: 500px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}
.collapsible:hover {
    color: #7e75f6;
    text-decoration: underline;
}

.content {
    padding-left: 18px;
    display: none;
    overflow: hidden;
    width: 470px;
    text-align: justify;
    font-size: medium;
    background-color: #efefff;
}

/* down here is tab styling */
/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #d0e7a2;
    width: 100%;
}
          
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
    font-size: small;
    height: 30px;
}
          
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #b2cb7f;
}
          
/* Create an active/current tablink class */
.tab button.active {
    background-color: #b2cb7f;
}
          
/* Style the tab content */
.tabcontent {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: -20px;
    border-top: none;
    width: 456px;
    background-color: white;
    border: #b2cb7f 2px dashed;
    height: 440px;
}

.column {
    float: left;
    width: 50%;
}
          
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.hide {
    display: none;
}
          
.myDIV:hover + .hide {
    display: block;
}

.libwelcome {
    width: 92%;
    border: #9b6ba9 2px dashed;
    height: max-content;
    background-color: #e5d5fd;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

/*Inside/main text of window boxes.*/
.inner {
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    }
  
/*The title bar at the top of window boxes.*/
.libbox-title-bar {
    background-color: #9b6ba9;
    color: white;
    font-weight: bold;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
    
/*For the symbol in the top right corner.*/
.right {
    float: right;
    margin-right: 5px;
    font-family: "Arial", sans-serif;
    line-height: 12px;
}

/*Main body text boxes.*/
.libbox {
    margin-top: 25px;
    width: 490px;
    margin-bottom: 25px;
    background-color: #e5d6fd;
    border: 2px #9b6ba9 dashed;
}