* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif
}
#container {
    max-width: 900px;
    margin: auto;
}
#container a {
    color: greenyellow;
    font-weight: bold;
    text-decoration: none;
}

#container .box {
    position:relative;
    width: 700px;
    height: calc(300px - 30px);
    background: hotpink;
    float: center;
    margin: 25px;
    box-sizing: border-box;
    overflow: scroll;
    border-radius: 10px;
}

#header {
    width: 100%;
    background-color: greenyellow;
    height: 150px;
    background-size: 100%;
}

#navbar {
    height: 60px;
    background-color: plum;
    width: 100%;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

#navbar li a {
    color: aquamarine;
    background-color: plum;
    font-weight: 800;
    text-decoration: none;
    font-family: '04b03', sans-serif;
}

#navbar li a:hover {
    color: red;
    text-decoration: wavy;
}
#flex {
    display: flex;
}

#child {
    width: 600px;
    height: auto;
    background-color: hotpink;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -300px;
}

aside {
    background-image: url(https://sadhost.neocities.org/images/tiles/blobz.gif);
    width: 200px;
    height:auto;
    padding: 20px;
    font-size: smaller;
}

aside, #main {
    height:600px;
    overflow:auto;
  }

main {
    background-color: hotpink;
    flex: 1;
    padding: 20px;
    order: 1;
    overflow:auto;
}

#rightsidebar {
    order: 2;
}

footer {
    background-color: violet;
    width: 100%;
    height: 30px;
    padding: 10px;
    text-align: center;
}

h1, h3 {
    color: aqua;
    text-align: center;
    font-family: '04b03', sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: greenyellow;
    background-color: limegreen;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-size: 25px;
}
.box {
    background-color:#13092D;
    border:1px solid #ED64F5;
    padding:10px;
  }

#topBar {
    width:100%;
    height:30px;
    padding:10px;
    font-size:smaller;
    background-color:#13092D;
  }

.center {
    display: block;
    margin-right: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
  }

table {
    border: 1px dashed;
    border-color: aquamarine;
    background-color:mediumslateblue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  th, td, tr {
    padding: 15px;
    font-family: '04b03';
    color: yellow;
    word-wrap: break-word;
    width: 200px;
    text-align: center;
  }

  div.scrollable {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: scroll;
  }

  @keyframes spinning {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  .spin {
    animation-name: spinning;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  figure {
    border: none;
    padding: 6px;
    margin: auto;
  }

  figcaption {
    display: block;
    background-color: #ED64F5;
    color: aqua;
    padding: 2px;
    text-align: center;
  }

  div.gallery {
    margin: 5px;
    border: 2px solid hotpink;
    float: left;
    width: 180px;
  }

  div.gallery:hover {
    border: 2px dashed yellowgreen;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }