* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'rainyhearts'
}
#container {
    max-width: 900px;
    margin: auto;
}
#container a {
    color: greenyellow;
    font-weight: bold;
    text-decoration: none;
}

#container .box {
    position:relative;
    width: 700px;
    height: calc(300px - 30px);
    background: hotpink;
    float: center;
    margin: 25px;
    box-sizing: border-box;
    overflow: scroll;
    border-radius: 10px;
}

#header {
    width: 100%;
    background-color: greenyellow;
    height: 150px;
    background-size: 100%;
}

#navbar {
    height: 60px;
    background-color: aqua;
    width: 100%;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

#navbar li a {
    color: aquamarine;
    background-color: aqua;
    font-weight: 800;
    text-decoration: none;
    font-family: '04b03', sans-serif;
}

#navbar li a:hover {
    color: red;
    text-decoration: wavy;
}
#flex {
    display: flex;
}

#child {
    width: 600px;
    height: auto;
    background-color: hotpink;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -300px;
}

aside {
    background-image: url(https://sadhost.neocities.org/images/tiles/blobz.gif);
    width: 200px;
    height:auto;
    padding: 20px;
    font-size: smaller;
    font-family: 'rainyhearts';
}

aside, #main {
    height:600px;
    overflow:auto;
  }

main {
    background-color: hotpink;
    flex: 1;
    padding: 20px;
    order: 1;
    overflow:auto;
}

#rightsidebar {
    order: 2;
}

footer {
    background-color: violet;
    width: 100%;
    height: 30px;
    padding: 10px;
    text-align: center;
}

h1, h3 {
    color: aqua;
    text-align: center;
    font-family: '04b03', sans-serif;
}

p {
    font-family: 'rainyhearts';
    font-size: large;
    line-height: 1.5;
    text-align: justify;
}

h2 {
    color: greenyellow;
    background-color: limegreen;
    font-size: medium;
    font-family: 'rainyhearts';
}
h1 {
    font-size: 25px;
    font-family: 'rainyhearts';
}
.box {
    background-color:#13092D;
    border:1px solid #ED64F5;
    padding:10px;
  }

#topBar {
    width:100%;
    height:30px;
    padding:10px;
    font-size:smaller;
    background-color:#13092D;
  }

.center {
    display: block;
    margin-right: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
  }

table {
    border: 1px dashed;
    border-color: aquamarine;
    background-color:mediumslateblue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  th, td, tr {
    padding: 15px;
    font-family: 'rainyhearts';
    color: yellow;
    word-wrap: break-word;
    width: 200px;
    text-align: center;
  }

  div.scrollable {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: scroll;
  }

  @keyframes spinning {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  .spin {
    animation-name: spinning;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }


  figure {
    border: none;
    padding: 6px;
    margin: auto;
  }

  figcaption {
    display: block;
    background-color: #ED64F5;
    color: aqua;
    padding: 2px;
    text-align: center;
  }

  div.gallery {
    margin: 5px;
    border: 2px solid hotpink;
    float: left;
    width: 180px;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  @font-face {
    font-family: rainyhearts;
    src: url(/fonts/rainyhearts.ttf);
  }