* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: '04b03', sans-serif
}
#container {
    max-width: 900px;
    margin: auto;
}
#container a {
    color: deeppink;
    font-weight: bold;
    text-decoration: none;
}

#header {
    width: 100%;
    background-color: greenyellow;
    height: 150px;
    background-size: 100%;
}

#navbar {
    height: 60px;
    background-color: plum;
    width: 100%;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

#navbar li a {
    color: aquamarine;
    font-weight: 800;
    text-decoration: none;
}

#navbar li a:hover {
    color: red;
    text-decoration: wavy;
}
#flex {
    display: flex;
}

aside {
    background-image: url(https://sadhost.neocities.org/images/tiles/blobz.gif);
    width: 200px;
    padding: 20px;
    font-size: smaller;
}

main {
    background-color: hotpink;
    flex: 1;
    padding: 20px;
    order: 1;
}

#rightsidebar {
    order: 2;
}

footer {
    background-color: violet;
    width: 100%;
    height: 30px;
    padding: 10px;
    text-align: center;
}

h1, h3 {
    color: aqua;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: greenyellow;
    background-color: limegreen;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-size: 25px;
}
.box {
    background-color:#13092D;
    border:1px solid #ED64F5;
    padding:10px;
  }

#topBar {
    width:100%;
    height:30px;
    padding:10px;
    font-size:smaller;
    background-color:#13092D;
  }
