#s-m-t-tooltip,
.footer,
.naviLink,
.sotwH,
.statuscafe,
.wlcmtext {
    text-align: center
}

.container,
.drawbox,
.mainbox,
.navi {
    box-sizing: border-box
}

@font-face {
    font-family: 'MS PGothic';
    src: url('/fonts/MS-PGothic.eot');
    src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'), url('/fonts/MS-PGothic.woff2') format('woff2'), url('/fonts/MS-PGothic.woff') format('woff'), url('/fonts/MS-PGothic.ttf') format('truetype'), url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
    font-display: block
}

@font-face {
    font-family: 'MS Gothic';
    src: url('/fonts/MS-Gothic.woff2') format('woff2'), url('/fonts/MS-Gothic.woff') format('woff');
    font-display: block
}

@font-face {
    font-family: Nunito;
    src: url('/fonts/Nunito-ExtraBold.woff2') format('woff2'), url('/fonts/Nunito-ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block
}

html {
    scrollbar-color: transparent transparent
}

body {
    font-family: 'MS PGothic';
    width: 800px;
    margin: 0 auto
}

body::-webkit-scrollbar {
    display: none
}

.container {
    width: 940px;
    border: 1px dashed green;
    float: left;
    padding: 20px;
    background-image: url(https://i.postimg.cc/8PJRGKDG/whitegrain.gif);
    z-index: 0;
    height: 1253px;
    margin-bottom: 100px;
    margin-left: -70px
}

.homeTitle {
    margin-top: 10px;
    float: right;
    margin-right: -20px;
    margin-bottom: -20px;
    z-index: 2;
    position: relative;
    width: 500px;
    height: auto
}

.avatar,
.wlcmimg {
    position: absolute
}

.avatar {
    z-index: 1;
    width: 260px;
    height: auto;
    margin-left: -100px;
    margin-top: -50px;
    image-rendering: optimizeSpeed
}

.welcome,
div.piclog {
    overflow: hidden;
    z-index: 2
}

#s-m-t-tooltip {
    max-width: 150px;
    z-index: 5;
    margin: 24px 14px 7px 12px;
    padding: 8px;
    background: linear-gradient(0deg, #ffeb3b 0, #fff);
    border: 2px solid #ff69b4;
    border-radius: 10px;
    box-shadow: 0 0 7px #7bff00;
    font-family: 'MS Gothic';
    color: #000;
    font-size: small
}

#statuscafe-content,
a {
    font-family: 'MS PGothic'
}

.welcome {
    width: 739px;
    height: 130px;
    border: 2px dashed #ffaed9;
    border-radius: 10px;
    margin-left: 90px;
    padding-left: 65px;
    background: linear-gradient(0deg, #ffeb3b 0, rgba(255, 59, 0, 0) 80%);
    display: block
}

.audio-player,
.navi {
    background-position: center
}

.wlcmtext {
    display: inline-block;
    transform: scale(2, 3);
    -webkit-transform: scale(2, 3);
    -moz-transform: scale(2, 3);
    -o-transform: scale(2, 3);
    transform-origin: 0% -8%;
    display: flex;
    margin-left: -25px;
    font-family: Nunito;
    color: #ff69b4;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    width: 100px;
    text-decoration: underline;
    line-height: 11pt;
}

.naviLink,
.welcomebutton1,
.welcomebutton2 {
    background-color: #fff;
    font-family: 'MS Gothic'
}

.audio-player,
.sotwH {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.wlcmimg {
    height: 130px;
    width: 99px;
    display: flex;
    margin-left: 110px;
    margin-top: -62px
}

.wlcmtext2 {
    display: flex;
    margin-left: 190px;
    margin-top: -48px;
    position: relative;
    float: left;
    width: 240px
}

.welcomebutton1,
.welcomebutton2 {
    border-radius: 50%;
    padding: 8px;
    width: 66px;
    display: block;
    text-decoration: underline;
    position: absolute;
    font-weight: 700
}

.welcomebutton1 {
    margin-left: 420px;
    color: #00bfff;
    transform: rotate(4deg)
}

.welcomebutton1:hover {
    color: #ff69b4;
    transform: rotate(-4deg)
}

.welcomebutton2 {
    margin-left: 310px;
    margin-top: 25px;
    color: orange;
    transform: rotate(-4deg)
}

.welcomebutton2:hover {
    color: #db4cff;
    transform: rotate(4deg)
}

.wlcmtext3 {
    display: flex;
    margin-left: 516px;
    position: absolute;
    margin-top: -10px
}

.statuscafe {
    margin-top: -50px;
    border: 2px solid orange;
    border-radius: 0 10px 10px 0;
    padding: 5px;
    color: #ff69b4;
    width: 210px;
    height: 115px;
    background-image: url(https://i.postimg.cc/j2vxqJVJ/fridge.webp);
    background-size: 100% 100%;
    box-shadow: inset 0 0 15px #af0
}

.naviLink,
.sotwH {
    text-decoration: underline;
    color: #00f
}

#statuscafe-content {
    color: #000;
    margin-top: -10px
}

#statuscafe-content:hover {
    background-color: #ddff8e6e
}

div.piclog {
    width: 156px;
    height: 200px;
    border: 2px dashed #ff69b4;
    border-radius: 10px;
    margin-top: 15px;
    float: right
}

img.piclog {
    width: 100%;
    height: 200px;
    z-index: 1
}

.piclogTitle {
    height: 40px;
    width: 92px;
    position: absolute;
    z-index: 5;
    margin-left: 823px
}

.homeNote,
.naviLink,
.naviTitle {
    position: relative
}

.naviTitle {
    display: block;
    z-index: 2;
    margin-top: 10px;
    margin-left: 157px;
    height: 60px;
    width: 96px
}

.homeNote {
    margin-top: -206px;
    margin-left: 120px;
    width: 590px
}

.fanclubs {
    margin-top: -8px;
    margin-left: 90px;
    width: 630px;
    height: 60px;
    z-index: 1;
    border: 2px dashed plum
}

.fcimg,
.fcimg2 {
    margin-top: -26px;
    padding: 10px;
    height: 60px;
    width: 60px
}

a {
    color: #539e0f
}

a:hover {
    color: orange
}

.navi {
    float: left;
    width: 220px;
    height: 390px;
    margin-top: -42px;
    margin-left: 10px;
    padding: 15px;
    background-image: url(https://i.postimg.cc/1zn2Tc8C/navibg.webp);
    background-size: cover;
    border: 1px solid gold;
    border-radius: 15px;
    box-shadow: inset 0 0 20px #adff2f
}

.naviLink {
    box-shadow: 0 0 10px gold;
    padding: 3px;
    width: 100px;
    height: 26px;
    border: 2px solid #ff69b4;
    border-radius: 50%;
    left: 26%;
    margin-bottom: 11px
}

.drawbox,
.kittycat,
.mainbox,
.screen,
.tv {
    position: absolute
}

.naviLink:hover {
    box-shadow: 0 0 10px #fff;
    color: #ff69b4;
    border: 2px solid gold
}

.mainbox {
    margin-top: -530px;
    margin-left: 257px;
    display: block;
    height: 705px;
    width: 640px;
    border: 2px dashed #ed709c;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 15px
}

.drawbox,
.fakead {
    display: block;
    width: 220px;
    padding: 3px
}

.fakead {
    height: 124px;
    margin-top: 355px;
    margin-left: 6px
}

.drawbox {
    border: 2px dashed #6fa1ff;
    border-radius: 15px;
    height: 170px;
    margin-top: 490px;
    margin-left: 10px
}

.kittycat {
    margin-top: 70px;
    z-index: 2;
    margin-left: 810px;
    height: 260px;
    width: 179px
}

.sotw {
    border: 1px dashed #00f;
    box-shadow: inset 0 0 10px #40e0d0;
    width: 620px;
    height: 80px;
    margin-top: 15px;
    margin-right: 10px;
    float: right;
    border-radius: 50%;
    background-image: url(https://sadhost.neocities.org/images/tiles/heartsparkle.gif);
    background-size: 20%
}

.sotwDance {
    height: 56px;
    width: 41px;
    margin-top: 12px;
    margin-left: 80px;
    filter: drop-shadow(2px 2px 5px #e6ff8a)
}

.sotwTable {
    float: right;
    border: 0;
    width: 440px;
    margin-top: -16px;
    padding-right: 10px
}

.sotwH {
    font-family: Nunito;
    margin-bottom: 5px;
    width: 80%;
    font-size: larger
}

.butterfly {
    position: relative;
    margin-left: 744px;
    margin-top: -90px;
    z-index: 2;
    height: 160px;
    width: 160px
}

.audio-player {
    height: 20px;
    width: 350px;
    background: linear-gradient(0deg, #60BEF1 0, #fff);
    border-radius: 20px;
    border: 2px solid gold;
    color: #ff69b4; font-weight: bolder;
    overflow: hidden;
    display: grid;
    margin-left: -40px;
    margin-top: -2px;
    grid-template-rows: 5px auto;
    padding-bottom: 10px
}

.buttonScroll,
.dancead {
    margin-left: 12px;
    display: block
}

.audio-player .timeline {
    background: #A0DE44;
    width: 100%;
    position: relative
}

.audio-player .timeline .progress {
    background: #ff69b4;
    width: 0%;
    height: 100%;
    transition: .25s
}

.audio-player .controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 20px
}

.audio-player .controls>* {
    display: flex;
    justify-content: center;
    align-items: center
}

.audio-player .controls .toggle-play.play {
    position: relative;
    width: 20px;
    content: url(https://i.postimg.cc/V6f9czsZ/play.png)
}

.audio-player .controls .toggle-play.pause:hover,
.audio-player .controls .toggle-play.play:hover {
    transform: scale(1.1)
}

.audio-player .controls .toggle-play.pause {
    width: 20px;
    position: relative;
    content: url(https://i.postimg.cc/R0Q18Wmn/pause.png)
}

.audio-player .controls .time {
    display: flex
}

.audio-player .controls .time>* {
    padding: 2px
}

.dancead {
    height: auto;
    width: auto
}

.buttonScroll {
    height: 55px;
    width: 430px;
    margin-top: 180px
}

.marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap)
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: 20s linear infinite scroll;
    list-style: none;
}

@keyframes scroll {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(calc(-100% - var(--gap)))
    }
}

.tv {
    z-index: 5;
    display: block;
    margin-left: 450px;
    margin-top: -105px;
    height: 110px;
    width: 161px
}

.idkyet,
.screen {
    display: block;
    margin-top: -100px
}

.tv:hover {
    filter: drop-shadow(0 0 5px gold)
}

.screen {
    z-index: 2;
    margin-left: 462px;
    height: 95px;
    width: 120px
}

.idkyet {
    height: 80px;
    width: 251px;
    padding: 10px;
    margin-left: 620px;
    border-radius: 10px;
    border: 2px solid #ff69b4;
    background: url(https://i.postimg.cc/fRzKVwDm/grass.webp) bottom/100%;
    box-shadow: inset 0 0 20px #fffb00;
    z-index: 3;
    text-align: center;
}

.footer {
    margin-top: 10px
}