@font-face {
    font-family: 'MS Gothic';
    src: url('/fonts/MS-Gothic.woff2') format('woff2'), url('/fonts/MS-Gothic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto !important;} /* End https://www.cursors-4u.com */
@font-face {
    font-family: Palatino;
    src: url('/fonts/Palatino-Roman.woff2') format('woff2'), url('/fonts/Palatino-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: 'Gaegu';
    src: url('/fonts/Gaegu.woff2') format('woff2'),
        url('/fonts/Gaegu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Nunito;
    src: url('/fonts/Nunito-ExtraBold.woff2') format('woff2'), url('/fonts/Nunito-ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}
html {
    scrollbar-color: transparent transparent;
}
body {
    width: 600px;
    background-image: url(/assets/03-images/blogbg.webp);
    background-size: contain;
    padding: 20px
}

.div-header01 {
    background: #fff;
    height: 100px;
    width: 250px;
    border-radius: 50%;
    transform: rotate(-10deg);
    box-shadow: inset 0 0 10px #97b429;
    border: 2px dotted #ff69b4;
    font-family: Nunito;
    display: block;
    position: absolute
}

.text-header01 {
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: larger;
    text-decoration: underline;
    color: #886bef;
    text-shadow: 1px 1px 7px #40e0d0
}

.text-header01:hover {
    text-shadow: 1px 1px 7px #ff69b4;
    cursor: default;
}

.div-header02 {
    margin-left: 270px;
    background: #fff;
    height: 80px;
    border-radius: 50%;
    transform: rotate(7deg);
    box-shadow: inset 0 0 10px #40e0d0;
    border: 2px dotted #00f
}

.text-header02 {
    text-align: center;
    margin-top: 16px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: larger;
    text-decoration: underline;
    font-family: Palatino;
    font-weight: bolder;
    color: #ff69b4;
    text-shadow: 1px 1px 7px gold
}

.text-header02:hover {
    text-shadow: 1px 1px 7px #40e0d0;
    cursor: default
}

.div-header03 {
    margin-left: 168px;
    margin-top: -105px;
    margin-bottom: 20px;
    background: #fff;
    height: 90px;
    width: 280px;
    border-radius: 50%;
    transform: rotate(2deg);
    box-shadow: inset 0 0 10px violet;
    border: 2px dotted orange
}

.text-header03 {
    text-align: center;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: larger;
    text-decoration: underline;
    font-family: 'MS Gothic';
    font-weight: bolder;
    color: #539e0f;
    text-shadow: 1px 1px 7px orange
}

.collapsible {
    background: #fff;
    color: #7e75f6;
    font-weight: 700;
    text-decoration: underline;
    font-family: 'MS Gothic';
    padding: 18px;
    width: 500px;
    border: none;
    text-align: center;
    font-size: 15px;
    box-shadow: inset 0 0 10px #c682ee
}

.collapsible:hover {
    color: #8bcd37
}

.content {
    display: none;
    padding-left: 18px;
    padding-right: 18px;
    overflow: hidden;
    width: 464px;
    font-family: 'MS Gothic';
    text-align: justify;
    background-color: #fff;
    box-shadow: inset 0 0 10px #8bcd37;
    transition: max-height .2s ease-out
}

.bloglink {
    color: hotpink;
    text-decoration: underline;
}

.bloglink:hover {
    background-color: #f6f475ce;
}

.tulip {
    margin-left: -20px;
    margin-top: -10px;
    filter: drop-shadow(2px 2px 5px pink);
    width: 104px;
    height: 114px
}
