@font-face{font-family:'MS PGothic';src:url('/fonts/MS-PGothic.eot');src:url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'),url('/fonts/MS-PGothic.woff2') format('woff2'),url('/fonts/MS-PGothic.woff') format('woff'),url('/fonts/MS-PGothic.ttf') format('truetype'),url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');font-weight:400;font-style:normal}@font-face{font-family:'MS Gothic';src:url('/fonts/MS-Gothic.woff2') format('woff2'),url('/fonts/MS-Gothic.woff') format('woff');font-weight:400;font-style:normal;font-display:swap}
@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
  
body{font-family:'MS PGothic';padding-left:20px;padding-right:20px;background-image:url(https://i.postimg.cc/mkPFKMct/butterflybg.webp);background-size:100% auto;padding-top:10px;width:560px;overflow-x:hidden}
a{font-weight:700;color:#ff69b4;text-decoration:underline}a:hover{color:#9acd32}
.tv{animation-name:heartbeat;animation-duration:1.4s;animation-iteration-count:infinite;height:150px;width:auto;rotate:15deg;filter:drop-shadow(0px 2px 5px turquoise);z-index:1}  
.bubble{display:flexbox;position:absolute;height:90px;width:auto;margin-left:-30px;filter:drop-shadow(0px 2px 5px gold);z-index:3}
.gsbox{background-image:url(https://i.postimg.cc/s24FQZ6w/greenbubble.webp);width:150px;height:100px;position:absolute;margin-top:-88px;margin-left:160px;font-family:'MS Gothic';font-size:small;z-index:2;text-align:center}
.mediabubbletext{padding-top:5px;padding-left:15px;padding-right:15px;font-family:'MS Gothic'}
.gslink1{font-weight:700;color:#87cefa}.gslink1:hover{color:orange}.gslink2{font-weight:700;color:#ff69b4}.gslink2:hover{color:green}
.title,.title2{transform:scale(1,3)}.title,.title2,.title3{line-height:17px;font-style:italic;text-decoration:underline;width:500px;display:flexbox;position:absolute;margin-top:-230px;color:#fff}.title{-webkit-transform:scale(1,3);-moz-transform:scale(1,3);-o-transform:scale(1,3);transform-origin:0% -8%;margin-left:310px;text-shadow:1px 1px 7px #ff69b4}.title2{-webkit-transform:scale(1,3);-moz-transform:scale(1,3);-o-transform:scale(1,3);transform-origin:0% -8%;margin-left:400px;text-shadow:1px 1px 7px #40e0d0}.title3{transform:scale(1,3);-webkit-transform:scale(1,3);-moz-transform:scale(1,3);-o-transform:scale(1,3);transform-origin:0% -8%;margin-left:490px;text-shadow:1px 1px 7px gold}
.star{height:50px;width:50px;margin-top:90px;margin-left:-150px;z-index:100;filter:drop-shadow(0px 2px 5px gold)}
#content{display:flex;flex-wrap:wrap;justify-content:center;overflow:scroll}
.item{margin-top:20px;height:340px;z-index:0;margin-left:20px}
.inner{width:85%;height:85%;margin:12px auto 0;padding:5px;border:3px solid #fff;background:#fff;border-radius:8px;box-shadow:0 0 10px #fff,0 0 10px #fff,0 0 10px #fff,0 0 10px #fff,0 0 14px #d1d0fc}
.text{overflow:scroll;height:250px;margin-top:10px;text-align:justify;padding-right:15px;padding-left:10px}.text::-webkit-scrollbar{display:none}
.cover{float:left;padding-right:5px;width:84px;height:132px}
.details{width:100px;float:right;font:.80em sans-serif;margin-right:-28px;margin-top:180px;color:#539e0f;;}
.titleLink:hover{color:#9acd32}.titleLink{text-decoration:underline;color:#ff69b4;font-family:'MS Gothic';font-weight:700;font-style:italic;font-size:large}
html {scrollbar-color: transparent transparent;}
@font-face {
    font-family: Nunito;
    src: url('/fonts/Nunito-ExtraBold.woff2') format('woff2'), url('/fonts/Nunito-ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block
}
/* style-my-tootltips plugin, tooltip styling */
#s-m-t-tooltip{
	/* basic */
	max-width:150px;
	z-index: 5;
	margin:24px 14px 7px 12px;
	/* style and design */
	padding:8px;
	background: linear-gradient(0deg, orange 0%, #ffffff);

	border: 2px turquoise solid;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius: 10px;
	-moz-box-shadow:2px 2px 0 gold,-1px -1px 0 rgba(255,255,255);
	-webkit-box-shadow:2px 2px 0 gold,-1px -1px 0 rgba(255,255,255);
	box-shadow:0 0 7px gold;
	/* font */
	font-family: 'MS Gothic';
	
    text-align: center; font-size: small;
}
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto !important;} /* End https://www.cursors-4u.com */