@font-face{font-family:'MS PGothic';src:url('/fonts/MS-PGothic.eot');src:url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'),url('/fonts/MS-PGothic.woff2') format('woff2'),url('/fonts/MS-PGothic.woff') format('woff'),url('/fonts/MS-PGothic.ttf') format('truetype'),url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');font-weight:400;font-style:normal}@font-face{font-family:'MS Gothic';src:url('/fonts/MS-Gothic.woff2') format('woff2'),url('/fonts/MS-Gothic.woff') format('woff');font-weight:400;font-style:normal;font-display:swap}

body {
    background-image: url(https://i.postimg.cc/sgvNN6nB/dogsbg.webp);
    background-size: 100% auto;
    width: 500px;
    overflow-x: hidden;
    font-family: 'MS Gothic';
    padding: 20px;
    height: 800px;

}

h1 {
    font-family: Arial;
    font-weight: bold;
    color: red;
    text-shadow: yellow 0 0 10px;
    margin-bottom: -10px;
}

a {
    background-color: #fffda3;
    font-weight: bold;
    color: red;
    text-decoration: underline;
}

a:hover {
    color: turquoise;
    background-color: transparent;
}

.webdesign {
    position: absolute;
    background-color: white;
    opacity: 0.9;
    border: 6px solid #2effff;
    box-shadow: rgb(255, 0, 255) 0 0 20px;
    border-radius: 50%;
    height: 300px;
    width: 600px;
    margin-left: -100px;
}

.resources {
    position: absolute;
    background-color: white;
    opacity: 0.9;
    border: 6px solid #4fff38;
    box-shadow: #2effff 0 0 20px;
    border-radius: 50%;
    height: 230px;
    width: 600px;
    margin-left: 140px;
    margin-top: 310px;
    z-index: 1;
}

.articles {
    position: absolute;
    background-color: white;
    opacity: 0.9;
    border: 6px solid #9f38ff;
    box-shadow: #ff8800 0 0 20px;
    border-radius: 50%;
    height: 230px;
    width: 600px;
    margin-left: -140px;
    margin-top: 550px;
}

.smileys {
    width: 200px;
    height: 191px;
    margin-top: 340px;
    filter: drop-shadow(2px 2px 10px #f1ff2e);
    z-index: 0;
    position: absolute;
}

.dog {
    position: absolute;
    width: 200px; height: 200px;
    margin-top: 70px;
    margin-left: 400px;
    z-index: 1;
    filter: drop-shadow(2px 2px 10px #aaff00);
}

.frog {
    width: 80px; height: auto;
    position: absolute;
    margin-top: 630px;
    margin-left: 420px;
    z-index: 1;
    filter: drop-shadow(2px 2px 10px #00ffff);
}