@font-face{font-family:'MS PGothic';src:url(/fonts/MS-PGothic.eot);src:url(/fonts/MS-PGothic.eot?#iefix) format("embedded-opentype"),url(/fonts/MS-PGothic.woff2) format("woff2"),url(/fonts/MS-PGothic.woff) format("woff"),url(/fonts/MS-PGothic.ttf) format("truetype"),url(/fonts/MS-PGothic.svg#MS-PGothic) format("svg");font-weight:400;font-style:normal}@font-face{font-family:'Web437 DOS/V re. ANK24';src:url(/fonts/Web437_DOS-V_re_ANK24.woff2) format("woff2"),url(/fonts/Web437_DOS-V_re_ANK24.woff) format("woff");font-weight:400;font-style:normal;font-display:swap}@font-face{font-family:Nunito;src:url(/fonts/Nunito-ExtraBold.woff2) format("woff2"),url(/fonts/Nunito-ExtraBold.woff) format("woff");font-weight:700;font-style:normal;font-display:block}@font-face{font-family:'Flexi IBM VGA True (437)';src:url(/fonts/Flexi_IBM_VGA_True_437.woff2) format("woff2"),url(/fonts/Flexi_IBM_VGA_True_437.woff) format("woff");font-weight:400;font-style:normal;font-display:swap}.about,.contact,.favorites,.gif1,.gif2,.gif3,.img,.mybutton,.topImg,.quizzes,.webrings{border-radius:25px}#s-m-t-tooltip{font-family:'Web437 DOS/V re. ANK24';max-width:150px;z-index:5;margin:24px 14px 7px 12px;padding:8px;background-color:#fff;background-size:100%;border:2px solid #ff69b4;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:10px;-moz-box-shadow:2px 2px 0 #ff0,-1px -1px 0 #fff;-webkit-box-shadow:2px 2px 0 #ff0,-1px -1px 0 #fff;box-shadow:0 0 7px #40e0d0;text-align:center;font-size:small}.quizzes,.webrings{overflow:scroll}.gif3,.img,.mybutton,.topImg{background-size:100% 100%}body::-webkit-scrollbar{display:none}body{width:500px}a{color:blue}a:hover{font-style: italic; background-color: yellow;}.parent{display:grid;grid-template-columns:repeat(3,80px) repeat(2,108px);grid-template-rows:repeat(7,1fr);grid-column-gap:30px;grid-row-gap:40px;font-family:'Nunito';height:1000px;padding:20px;margin:0 auto 60px}.topImg{grid-area:1/1/2/4;box-shadow:0 0 15px #d448ff;background-image:url(/assets/03-images/twinepikes.webp);height:140px;border:solid 2px #ff0}.title-favorites{height:25px;width:190px;position:absolute;margin-top:167px;margin-left:90px;filter:drop-shadow(2px 2px 5px gold);background-color:#ff0;font-family:'Flexi IBM VGA True (437)';color:red;font-style:italic;text-decoration:underline}h2{margin-top:3px;margin-left:5px}.gif1,.gif2,.gif3{width:84px;height:84px}.favorites{grid-area:2/1/3/4;box-shadow:0 0 20px #ffe600;border:2px red solid;padding:10px 10px 20px 20px;background-image:url(https://sadhost.neocities.org/images/tiles/rbowlinebg.gif);font-family:'Web437 DOS/V re. ANK24';overflow-x:auto;overflow-y:hidden;height:90px}.gif1{grid-area:3/1/4/2;box-shadow:0 0 15px #ff0;border:2px blue solid;background-image:url(https://i.postimg.cc/5tczVbPB/elsa.gif)}.gif2{grid-area:3/2/4/3;box-shadow:0 0 15px #3cfa02;border:2px #ff72c0 solid;background-image:url(https://i.postimg.cc/dVZCpL9Q/ww.gif)}.gif3{grid-area:3/3/4/4;border:2px #40e0d0 solid;box-shadow:0 0 15px #ff69b4;background-image:url(https://i.postimg.cc/7YW7Kg0Q/gongaga.gif)}.decor{position:absolute;margin-left:520px;margin-top:410px;height:60px}.about{grid-area:1/4/4/6;box-shadow:0 0 15px lime;padding:15px;background-image:url(https://sadhost.neocities.org/images/tiles/bg_yellowsnowflake.gif);border:#ff69b4 2px solid;font-family:'Web437 DOS/V re. ANK24'}.mybutton{grid-area:4/4/5/6;background-image:url(https://i.postimg.cc/RFqRfhJt/hands.png);background-size:120% 120%;background-position:center;box-shadow:0 0 15px #ff0;border:2px blue solid;font-family:'Web437 DOS/V re. ANK24'}.img{grid-area:5/4/6/6;box-shadow:0 0 15px #4de2fc;border:2px #0ef solid;height:120px;margin-top:-10px;background-image:url(https://i.postimg.cc/MZ5BxqcJ/ggg.png)}.title-webrings{height:25px;width:92px;position:absolute;margin-top:465px;margin-left:40px;filter:drop-shadow(2px 2px 5px #3cfa02);background-color:#3cfa02;font-family:'Flexi IBM VGA True (437)';color:#fd38fd;font-style:italic;text-decoration:underline}.webrings{grid-area:4/1/6/4;background-image:url(https://i.postimg.cc/gcHByFf2/heaven.png);background-position:center;box-shadow:0 0 15px #fd38fd;border:#3cfa02 2px solid;padding:40px 44px 44px;font-family:'Web437 DOS/V re. ANK24'}.contact{grid-area:6/1/7/3;box-shadow:0 0 20px #3cfa02;border:red 2px solid;background-image:url(https://i.postimg.cc/bNrtw1Py/green.png);background-size:100% 100%;padding-left:10px;padding-right:10px;font-family:'Web437 DOS/V re. ANK24';font-weight:700;color:#ff0;text-align:center;margin-bottom:-10px}.lotus{height:80px;width:auto;margin-top:-10px;margin-left:0;margin-bottom:-10px}.lotus:hover{filter:drop-shadow(0 0 20px #ff0)}.fakead{grid-area:7/1/8/3}.title-quizzes{z-index:1;height:25px;width:135px;position:absolute;margin-top:750px;margin-left:410px;filter:drop-shadow(2px 2px 5px #ffa632);background-color:#ffa632;font-family:'Flexi IBM VGA True (437)';color:#fffb00;font-style:italic;text-decoration:underline}.quizzes{grid-area:6/3/8/6;box-shadow:0 0 20px #ffa632;border:#fffb00 2px solid;background-image:url(https://i.postimg.cc/Gm05CFT9/yellow.png);background-size:100% 100%;background-position:bottom;background-repeat:no-repeat;padding-top:24px;z-index:0;font-family:'Web437 DOS/V re. ANK24'}.quiz{width:240px;margin-left:16%}.link:hover{color:#88c088}html{scrollbar-color:transparent transparent}.button{font-size:10pt;text-align:center;margin-top:-25px;padding-left:40px;padding-right:40px;padding-top:50px;font-weight: bold;}p.favorites{margin-bottom:-10px}p,a,ul{font-size:11pt}
/* onionring.js is made up of four files - onionring-widget.js, onionring-index.js, onionring-variables.js and onionring.css (this one!)
// it's licensed under the cooperative non-violent license (CNPL) v4+ (https://thufie.lain.haus/NPL.html)
// it was originally made by joey + mord of allium (è’œ) house, last updated 2020-10-24 */

/* === ONIONRING.CSS === */
/* this file affects the style of the widget. remember to replace all instances of #webringid with whatever value you have for ringID in the onionring-widget.js file. make sure it still has the # at the front, though! probably easiest to use find+replace to do it */

#siwebring {
	color: black!important
}

#siwebring #templateWebring {
    font-family: trebuchet ms, sans-serif;
    text-align: center;
    width: 315px;
    height: 175px;
    background: url('/assets/siwebring/siwidgetbg.png') no-repeat;
    background-size: cover;
    border: 3px #FF74B8 solid;
    font-size: 16px;
}

#siwebring #templateWebring a {
    color: #E7338C;
}

#siwebring #templateWebring a:hover{
    font-weight: bold;
}

#siwebring #webringboxes {
display: flex;
justify-content: center;
align-items: center;
padding-top: 10px;
height: 100px;
}

#siwebring #webringiconbox, #siwebring #iconWebring {
    width: 100px ;
    height: 100px;
    display: block;
}

#siwebring #webringiconbox {
    border: 3px solid #FF74B8;
    border-radius: 4px;

}

#siwebring #webringdescbox {
    width: 170px;
    margin-left: 20px;
}

#siwebring #webringdesc {  
    -webkit-text-stroke: white 3px;
    paint-order: stroke; 
}

#siwebring #webringlinks{
    width:100%;
    margin:auto;
}