.gif3,.img,.mybutton,.nichijou{background-size:100% 100%}@font-face{font-family:'MS PGothic';src:url('/fonts/MS-PGothic.eot');src:url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'),url('/fonts/MS-PGothic.woff2') format('woff2'),url('/fonts/MS-PGothic.woff') format('woff'),url('/fonts/MS-PGothic.ttf') format('truetype'),url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');font-weight:400;font-style:normal}body::-webkit-scrollbar{display:none}body{width:500px}a{font-weight:700;color:#ff99e5;}.parent{display:grid;grid-template-columns:repeat(3,80px) repeat(2,108px);grid-template-rows:repeat(7,1fr);grid-column-gap:30px;grid-row-gap:40px;font-family:'MS PGothic';height:1000px;padding:20px;margin:0 auto 60px}.nichijou{grid-area:1/1/2/4;border-radius:25px;box-shadow:0 0 20px pink;background-image:url(https://i.postimg.cc/d1DjSKJP/nichijou.gif);height:140px}.title-favorites{height:50px;width:auto;position:absolute;margin-top:150px;margin-left:152px;filter:drop-shadow(2px 2px 5px gold)}.gif1,.gif2,.gif3{width:84px;height:84px;border-radius:25px}.favorites{grid-area:2/1/3/4;border-radius:25px;box-shadow:0 0 20px #ffe600;padding:10px 10px 20px 20px;background-image:url(https://i.postimg.cc/zvRVsQhP/stars.webp)}.gif1{grid-area:3/1/4/2;box-shadow:0 0 20px violet;background-image:url(https://i.postimg.cc/5tczVbPB/elsa.gif)}.gif2{grid-area:3/2/4/3;box-shadow:0 0 20px #88c088;background-image:url(https://i.postimg.cc/dVZCpL9Q/ww.gif)}.gif3{grid-area:3/3/4/4;box-shadow:0 0 20px #9dcbe9;background-image:url(https://i.postimg.cc/7YW7Kg0Q/gongaga.gif)}.decor{position:absolute;margin-left:510px;margin-top:450px;height:60px}.about{grid-area:1/4/4/6;border-radius:25px;box-shadow:0 0 20px #88c088;padding:20px;background-image:url(https://i.postimg.cc/k4H2hC2b/lightgreentexture.webp)}.mybutton{grid-area:4/4/5/6;background-image:url(https://i.postimg.cc/mrbN5vLZ/basilborder.webp);border-radius:25px;box-shadow:0 0 20px #ff99e5}.img{grid-area:5/4/6/6;border-radius:25px;box-shadow:0 0 20px #af91ff;background-image:url(https://i.postimg.cc/25CZPMTc/me.webp);height:120px;margin-top:-10px; color: white; text-align: center;}.title-webrings{height:50px;width:auto;position:absolute;margin-top:505px;margin-left:20px;z-index:1;filter:drop-shadow(2px 2px 5px #6ea1e4)}.webrings{grid-area:4/1/6/4;background-image:url(https://i.postimg.cc/3NMvx73H/babystars.webp);border-radius:25px;box-shadow:0 0 20px #6fa1ff;overflow:scroll;padding:40px 44px 44px}.contact{grid-area:6/1/7/3;border-radius:25px;box-shadow:0 0 20px #ffb6c1;background-image:url(https://i.postimg.cc/0Qj6fjyv/heart.webp);padding-left:10px;padding-right:10px}.panda{height:80px;width:auto;margin-top:-20px;margin-left:25%;margin-bottom:10px}.fakead{grid-area:7/1/8/3}.title-quizzes{z-index:1;margin-top:-216px;margin-left:280px;filter:drop-shadow(2px 2px 5px gold)}.quizzes{grid-area:6/3/8/6;border-radius:25px;box-shadow:0 0 20px gold;background-image:url(https://i.postimg.cc/0yGJ5hBT/startile.webp);background-size:20%;overflow:scroll;padding-top:24px;z-index:0}.quiz{width:240px;margin-left:20%}.link:hover {color: #88c088;}html {scrollbar-color: transparent transparent;}
/* style-my-tootltips plugin, tooltip styling */
#s-m-t-tooltip{
	/* basic */
	max-width:150px;
	z-index: 5;
	margin:24px 14px 7px 12px;
	/* style and design */
	padding:8px;
	background: url(https://i.postimg.cc/mkCGsXgk/hands.webp);
    background-size: 100%; background-position: center;
	border: 2px #00eeff dashed;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius: 10px;
	-moz-box-shadow:2px 2px 0 yellow,-1px -1px 0 rgba(255,255,255);
	-webkit-box-shadow:2px 2px 0 yellow,-1px -1px 0 rgba(255,255,255);
	box-shadow:0 0 7px yellow;
	/* font */
	font-family: 'Nunito';
	color:#ffffff; font-weight: bold;
    text-shadow: -1px -1px 0 #c040e0, 1px -1px 0 #c040e0, -1px 1px 0 #c040e0, 1px 1px 0 #c040e0;
    text-align: center; font-size: small;
}
.motm {
    color: white; 
    text-shadow: -1px -1px 0 #ff69b4, 1px -1px 0 #ff69b4, -1px 1px 0 #ff69b4, 1px 1px 0 #ff69b4;
    margin-top: 25px; display: block;
    font-family: 'Nunito';
}
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto !important;} /* End https://www.cursors-4u.com */
.motm:hover {
    text-shadow: -1px -1px 0 #40e0d0, 1px -1px 0 #40e0d0, -1px 1px 0 #40e0d0, 1px 1px 0 #40e0d0;
}
@font-face {
    font-family: Nunito;
    src: url('/fonts/Nunito-ExtraBold.woff2') format('woff2'), url('/fonts/Nunito-ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block
}