@font-face {
    font-family: 'MS PGothic'; src: url('/fonts/MS-PGothic.eot'); src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'), url('/fonts/MS-PGothic.woff2') format('woff2'), url('/fonts/MS-PGothic.woff') format('woff'), url('/fonts/MS-PGothic.ttf') format('truetype'), url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg'); font-weight: normal; font-style: normal;
}
body::-webkit-scrollbar {
    display: none;
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 90px) repeat(2, 120px);
    grid-template-rows: repeat(7, 1fr); 
    grid-column-gap: 30px; grid-row-gap: 40px; 
    font-family: 'MS PGothic';
    width: 630px; height: 1000px;
    padding: 20px; margin: 0 auto; margin-bottom: 60px;
}
.nichijou {
    grid-area: 1 / 1 / 2 / 4;
    border-radius: 25px; box-shadow: 0 0 20px pink;
    background-image: url(https://i.postimg.cc/d1DjSKJP/nichijou.gif); 
    background-size: 100% 100%; height: 140px;
}
.title-favorites {
    height: 50px; width: auto; position: absolute; margin-top: 150px; margin-left: 160px; filter: drop-shadow(2px 2px 5px gold);
}
.favorites {
    grid-area: 2 / 1 / 3 / 4;
    border-radius: 25px; box-shadow: 0px 0px 20px #ffe600;
    padding: 10px; padding-bottom: 20px; padding-left: 20px;
    background-image: url(https://i.postimg.cc/zvRVsQhP/stars.webp);
}
.gif1 {
    grid-area: 3 / 1 / 4 / 2;
    border-radius: 25px; box-shadow: 0px 0px 20px violet;
    background-image: url(https://i.postimg.cc/5tczVbPB/elsa.gif);
    width: 84px; height: 84px;
}
.gif2 {
    grid-area: 3 / 2 / 4 / 3;
    border-radius: 25px; box-shadow: 0px 0px 20px #88c088;
    background-image: url(https://i.postimg.cc/dVZCpL9Q/ww.gif);
    width: 84px; height: 84px;
}
.gif3 {
    grid-area: 3 / 3 / 4 / 4;
    border-radius: 25px; box-shadow: 0px 0px 20px #9dcbe9;
    background-image: url(https://i.postimg.cc/7YW7Kg0Q/gongaga.gif); background-size: 100% 100%;
    width: 84px; height: 84px;
}
.decor {
    position: absolute; margin-left: 520px; margin-top: 420px; height: 90px;
}
.about {
    grid-area: 1 / 4 / 4 / 6;
    border-radius: 25px; box-shadow: 0px 0px 20px #88c088;
    padding: 20px;
    background-image: url(https://i.postimg.cc/k4H2hC2b/lightgreentexture.webp);
}
.mybutton {
    grid-area: 4 / 4 / 5 / 6;
    background-image: url(https://i.postimg.cc/mrbN5vLZ/basilborder.webp);
    background-size: 100% 100%;
    border-radius: 25px; box-shadow: 0px 0px 20px #ff99e5;
}
.img {
    grid-area: 5 / 4 / 6 / 6;
    border-radius: 25px; box-shadow: 0px 0px 20px #af91ff;
    background-image: url(https://i.postimg.cc/8kXXBtBr/flwrpwr.gif); background-size: 100% 100%;
    height: 120px; margin-top: -10px;
}
.title-webrings {
    height: 50px; width: auto;
    position: absolute;
    margin-top: 505px;
    margin-left: 20px;
    z-index: 1;
    filter: drop-shadow(2px 2px 5px #6ea1e4);
}
.webrings {
    grid-area: 4 / 1 / 6 / 4;
    background-image: url(https://i.postimg.cc/3NMvx73H/babystars.webp);
    border-radius: 25px; box-shadow: 0px 0px 20px #6fa1ff;
    overflow: scroll;
    padding: 60px;
    padding-top: 40px;
}
.contact {
    grid-area: 6 / 1 / 7 / 3;
    border-radius: 25px; box-shadow: 0px 0px 20px lightpink;
    background-image: url(https://i.postimg.cc/0Qj6fjyv/heart.webp); padding-left: 10px; padding-right: 10px; 
}
.panda {
    height: 80px; width: auto;
    margin-top: -20px; margin-left: 25%;
    margin-bottom: 10px;
}
.fakead {
    grid-area: 7 / 1 / 8 / 3;
}
.title-quizzes {
    z-index: 1;
    margin-top: -216px;
    margin-left: 280px;
    filter: drop-shadow(2px 2px 5px gold);
}
.quizzes {
    grid-area: 6 / 3 / 8 / 6;
    border-radius: 25px; box-shadow: 0px 0px 20px gold;
    background-image: url(https://i.postimg.cc/0yGJ5hBT/startile.webp);
    background-size: 20%;
    overflow: scroll;
    padding-top: 24px;
    z-index: 0;
}
.quiz {
    width: 240px;
    margin-left: 20%;
}