body {
    background: url(https://i.postimg.cc/BZRckJJb/flowers.webp);
    margin: 0px;
    word-wrap: break-word;
    font-size: 19px;
    line-height: 25px;
    word-spacing: 4px;
    font-family: 'MS Gothic', arial;
    color: black;
}

mark {
    background: lightgoldenrodyellow;
}
html {scrollbar-color: transparent transparent;}

.header {
    height: 10px;
    width: 1108px;
    background: url(https://doqmeat.com/notebook/!g/grid-yellow2.png);
    padding: 20px 10px 15px 10px;
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
}
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat997.cur), auto !important;} /* End https://www.cursors-4u.com */
#wrapper-index {
    /* the notebook's cover */
    background: url(https://i.postimg.cc/5N0hZrt3/enlightenment.webp);
    background-position: center;
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1108px;
    padding: 20px 10px 15px 10px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow:inset 0 0 15px #40e0d0;
}

/*this is my ugly binder spiral! feel free to remove it or change it. it wont mess the rest of the code! */
#tab1-wrapper:after,
#tab2-wrapper:after,
#tab3-wrapper:after,
#tab4-wrapper:after,
#tab5-wrapper:after,
#tab6-wrapper:after,
#tab7-wrapper:after,
#tab8-wrapper:after
{
    content: url(https://doqmeat.neocities.org/!g/web/materials/spiral-test4.png);
    position: absolute;
    z-index: 10;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    pointer-events: none;
}

/* PAGES CSS */

.paper {
    /*the CSS of both "pages" boxes. you can choose the look of ALL pages here */
    background: url(https://doqmeat.neocities.org/!g/bg/whiteline.jpg);
    z-index: 5;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid lightblue;
    height: 600px;
}

.left {
    width: 490px;
    margin-left: 50px;
    margin-right: 10px;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
}

.left-in {
    /*			the main purpose of this class if so the scrollbar of left pages arent obscured by the bind spiral */
    padding: 15px 10px 15px 25px;
    height: 100%;
    margin-right: 15px;
    overflow: hidden;
}

.right {
    padding: 15px 25px;
    width: 490px;
    margin-left: 10px;
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
}

/* you can also customize the look of SPECIFIC pages. take TAB 2 for example: */

#tab2-p {
    font-family: 'MS Gothic';
    font-size: 14px;
    border-color: lightcoral;
}

/* tab buttons CSS stuff */

.tab {
    /* for the ones on the left */
    width: 590px;
    height: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    rotate: -90deg;
    top: -10px;
    left: -232px;
    font-family: 'MS Gothic';
}

.tab2 {
    /* for the ones on the right */
    width: 590px;
    height: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    rotate: 90deg;
    top: 590px;
    right: -232px;
    font-family: 'MS Gothic';
}

.tab button,
.tab2 button {
    /*this is the look of the TABS! */
    z-index: 1;
    position: relative;
    vertical-align: top;
    width: 90px;
    margin: 0px 6px;
    padding: 10px 0px 30px 0px;
    border: none;
    cursor: help;
    font-size: 19px;
    transition-duration: 0.5s;
    top: 10px;
    border-radius: 10px 10px 0 0;
    border: 1px solid #aaff00;
    box-shadow:inset 0 0 10px #ffffff;
    font-family: 'MS Gothic';
}

/* here you can change the color of each individual TAB button*/
.tab1-b {
    background: hotpink;
    color: #00ffe5;
}

.tab2-b {
    background: orange;
    color: white;
}

.tab3-b {
    background: yellow;
    color: #ff00ff;
}

.tab4-b {
    background: #aaff00;
    color: hotpink;
}

.tab5-b {
    background: #ff00ff;
    color: white;
}
.tab6-b {
    background: #00fffb;
    color: #ff00ff;
}

.tab7-b {
    background: #80ff00;
    color: #ff8c00;
}

.tab8-b {
    background: #ff8800;
    color: #aaff00;
}

.tab9-b {
    background: hotpink;
    color: white;
}


/* hover effect of TAB*/
.tab button:hover,
.tab2 button:hover {
    top: 0px;
    cursor: -webkit-grab;
    cursor: grab;
}

/* selected TAB effect aka when its focused */
.tab button:focus,
.tab2 button:focus {
    top: 0px;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    box-shadow: 1px 1px 20px 1px hotpink;
}

/* custom scrollbar for chrome users, firefox users cant see this */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb:vertical {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}
img {
    width: 100%; height: 100%;
    mix-blend-mode:multiply;
}

.globe {
    width: auto;
    mix-blend-mode: normal;
    filter:drop-shadow(0px 0px 8px #00ffe5);
    margin-top: 10px;
}
a:hover {
    filter:drop-shadow(0px 0px 8px pink)
}

a {
    color:#ff8800;
}