@font-face {
  font-family: 'MS PGothic';
  src: url('/fonts/MS-PGothic.eot');
  src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'), url('/fonts/MS-PGothic.woff2') format('woff2'), url('/fonts/MS-PGothic.woff') format('woff'), url('/fonts/MS-PGothic.ttf') format('truetype'), url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'MS PGothic';
    padding-left: 60px;
    padding-right: 60px;
    background-image: url(/pics/backgrounds/page_background_animated_04.gif);
}

h3 {
  font-size: medium;
  text-align: center;
  font-weight:100 ;
}

a {
  font-weight: bold;
  color: rgb(247, 144, 161);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

header{
  text-align:center;
}
  
/* code-div.js */
#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}
  
.item {
  width: 450px;
  overflow: scroll;
  overflow-y: hidden;
  padding: 10px;
}

.text {
  overflow: scroll;
  height: 185px;
  margin-top: 10px;
  text-align: justify;
  padding-right: 15px;
}
  
.cover {
  float: left;
  padding-left: 0px;
  padding-right: 8px;
  width: 123px;
  height: 185px;
  display: block;
}