@font-face {
  font-family: 'MS PGothic';
  src: url('/fonts/MS-PGothic.eot');
  src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'), url('/fonts/MS-PGothic.woff2') format('woff2'), url('/fonts/MS-PGothic.woff') format('woff'), url('/fonts/MS-PGothic.ttf') format('truetype'), url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-ExtraBold.woff2') format('woff2'),
      url('/fonts/Nunito-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Palatino';
  src: url('/fonts/Palatino-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MS Gothic';
  src: url('/fonts/MS-Gothic.woff2') format('woff2'),
      url('/fonts/MS-Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* ----------------------------------------------
 * Generated by Animista on 2024-6-5 9:1:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

body {
    font-family: 'MS PGothic';
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(https://i.postimg.cc/Ss9gY0xq/background.webp);
    background-size: 100% auto;
    padding-top: 10px;
    width: 560px;
    overflow-x: hidden;
}

h3 {
  font-size: medium;
  text-align: center;
  font-weight:100 ;
}

a {
  font-weight: bold;
  color: hotpink;
  text-decoration: underline;
}

a:hover {
  color: yellowgreen;
}

header{
  text-align:center;
}



.tv {
  animation-name: heartbeat;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  height: 150px;
  width: auto;
  rotate: 15deg;
  -webkit-filter: drop-shadow(0px -2px 5px turquoise);
  filter: drop-shadow(0px 2px 5px turquoise);
  z-index: 1;
}

.bubble {
  display: flexbox;
  position: absolute;
  height: 100px;
  width: auto;
  margin-left: -30px;
  -webkit-filter: drop-shadow(0px -2px 5px gold);
  filter: drop-shadow(0px 2px 5px gold);
  z-index: 3;
}

.gsbox {
  background-image: url(https://i.postimg.cc/s24FQZ6w/greenbubble.webp);
  width: 150px;
  height: 100px;
  position: absolute;
  margin-top: -88px;
  margin-left: 160px;
  font-family: 'MS Gothic';
  font-size: small;
  z-index: 2;
  text-align: center;
}

.mediabubbletext {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'MS Gothic';
}

.gslink1 {
  font-weight: bold;
  color: lightskyblue;

}

.gslink1:hover {
  color: orange;
}

.gslink2 {
  font-weight: bold;
  color: hotpink;

}

.gslink2:hover {
  color: green;
}

.title {
  transform: scale(1, 3);
    -webkit-transform: scale(1, 3);
    -moz-transform: scale(1, 3);
    -o-transform: scale(1, 3);
  transform-origin: 0% -8%;
  line-height: 17px;
  font-style: italic;
  text-decoration: underline;
  width: 500px;
  display: flexbox;
  position: absolute;
  margin-left: 310px;
  margin-top: -230px;
  color: white;
  text-shadow: 1px 1px 7px hotpink;
}

.title2 {
  transform: scale(1, 3);
    -webkit-transform: scale(1, 3);
    -moz-transform: scale(1, 3);
    -o-transform: scale(1, 3);
  transform-origin: 0% -8%;
  line-height: 17px;
  font-style: italic;
  text-decoration: underline;
  width: 500px;
  display: flexbox;
  position: absolute;
  margin-left: 400px;
  margin-top: -230px;
  color: white;
  text-shadow: 1px 1px 7px turquoise;
}

.title3 {
  transform: scale(1, 3);
    -webkit-transform: scale(1, 3);
    -moz-transform: scale(1, 3);
    -o-transform: scale(1, 3);
  transform-origin: 0% -8%;
  line-height: 17px;
  font-style: italic;
  text-decoration: underline;
  width: 500px;
  display: flexbox;
  position: absolute;
  margin-left: 490px;
  margin-top: -230px;
  color: white;
  text-shadow: 1px 1px 7px gold;
}

.star {
  height: 50px;
  width: 50px;
  display: flexbox;
  position: absolute;
  margin-top: 90px;
  margin-left: -150px;
  z-index: 100;
  -webkit-filter: drop-shadow(0px -2px 5px gold);
  filter: drop-shadow(0px 2px 5px gold);
}

/* code-div.js */
#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}
  
.item {
  width: 600px;
  overflow-y: hidden;
  padding: 10px;
  border-radius: 25px;
  background-image: url(https://i.postimg.cc/PqP3hvGC/mlentry.webp);
  background-size: 100% 100%;
  background-position: center;
  border-radius: 0px;
  border: 3px hotpink dotted;
  -moz-box-shadow: inset 0 0 20px rgb(170, 255, 0);
  box-shadow: inset 0 0 20px rgb(170, 255, 0);;
  -webkit-box-shadow:inset 0 0 20px rgb(170, 255, 0);
  margin-bottom: 20px;
  height: 260px;
  z-index: 0;
  margin-left: 20px;
}

.inner {
  width: 85%;
  height: 85%;
  margin: 0 auto;
  margin-top: 12px;
  padding: 5px;
  border: 3px solid white;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 14px #d1d0fc; 
}

.text {
  overflow: scroll;
  height: 186px;
  margin-top: 10px;
  text-align: justify;
  padding-right: 15px;
  padding-left: 10px;
  font-family: "MS PGothic";
}

.text::-webkit-scrollbar {
  display: none;
}
  
.cover {
  float: left;
  padding-right: 5px;
  width: 84px;
  height: auto;
  display: block;
}

.details {
  width: 100px;
  float: right;
  font: .80em sans-serif;
  margin-right:-35px;
  margin-top:130px;
  color: turquoise;
}

.titleLink:hover {
  color: yellowgreen;
}

.titleLink {
  text-decoration: underline;
  color: hotpink;
  font-weight: normal;
  font-family: 'MS Gothic';
  font-weight: bold;
  font-style: italic;
  font-size: large;
  
}

.itemHeader {
  background-color: #ffffd7;
  position: absolute;
  margin-top: 0px;
  width: 540px;
  z-index: -2;
}

.medialogTitle {
  height: 80px;
}