@font-face {
  font-family: 'MS PGothic';
  src: url('/public/fonts/MS-PGothic.eot');
  src: url('/public/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'), url('/public/fonts/MS-PGothic.woff2') format('woff2'), url('/public/fonts/MS-PGothic.woff') format('woff'), url('/public/fonts/MS-PGothic.ttf') format('truetype'), url('/public/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'MS PGothic';
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(https://sadhost.neocities.org/images/tiles/Background064.gif);
    padding-top: 10px;
}

h3 {
  font-size: medium;
  text-align: center;
  font-weight:100 ;
}

a {
  font-weight: bold;
  background-color: #ffffd7;
  color: #6495ed;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

header{
  text-align:center;
}
  
/* code-div.js */
#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}
  
.item {
  width: 600px;
  overflow: scroll;
  overflow-y: hidden;
  padding: 10px;
  border: 2px dashed #6495ed;
  border-radius: 25px;
  background-image: url(/public/pics/backgrounds/page_background_animated_04.gif);
  margin-bottom: 20px;
  height: 260px;
  z-index: 0;
}

.text {
  overflow: scroll;
  height: 185px;
  margin-top: 10px;
  text-align: justify;
  padding-right: 15px;
}
  
.cover {
  float: left;
  padding-left: 0px;
  padding-right: 8px;
  width: 123px;
  height: 185px;
  display: block;
  
}

.libLink:hover {
  -webkit-filter: drop-shadow(5px 15px 5px #afcbff);
    filter: drop-shadow(5px 5px 15px #afcbff);
    z-index: 4;
}

.itemHeader {
  background-color: #ffffd7;
  position: absolute;
  margin-top: 0px;
  width: 560px;
  z-index: -1;
}

.medialogTitle {
  height: 90px;
}

.medialogTitle:hover {
  height: 90px;
  -webkit-filter: drop-shadow(5px 15px 5px #ffffd7);
    filter: drop-shadow(5px 5px 15px #ffffd7);
}