@font-face {
  font-family: 'MS PGothic';
  src: url('/fonts/MS-PGothic.eot');
  src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'), url('/fonts/MS-PGothic.woff2') format('woff2'), url('/fonts/MS-PGothic.woff') format('woff'), url('/fonts/MS-PGothic.ttf') format('truetype'), url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Palatino';
  src: url('/fonts/Palatino-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body::-webkit-scrollbar {
  display: none;
}

body {
    font-family: 'MS PGothic';
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(https://sadhost.neocities.org/images/tiles/Background064.gif);
    padding-top: 10px;
}

h3 {
  font-size: medium;
  text-align: center;
  font-weight:100 ;
}

a {
  font-weight: bold;
  background-color: #ffffd7;
  color: #6495ed;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

header{
  text-align:center;
}
  
/* code-div.js */
#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}
  
.item {
  width: 600px;
  overflow: scroll;
  overflow-y: hidden;
  padding: 10px;
  border: 2px dashed #6495ed;
  border-radius: 25px;
  background-image: url(/pics/backgrounds/page_background_animated_04.gif);
  margin-bottom: 20px;
  height: 300px;
  z-index: 0;
  margin-left: 20px;
}

.item::-webkit-scrollbar {
  display: none;
}

.text {
  overflow: scroll;
  height: 225px;
  margin-top: 10px;
  text-align: justify;
  padding-right: 15px;
  padding-left: 10px;
}

.text::-webkit-scrollbar {
  display: none;
}
  
.cover {
  float: left;
  padding-left: 0px;
  padding-right: 8px;
  width: 123px;
  height: 185px;
  display: block;
}

.titleLink:hover {
  color: #6596ee;
}

.titleLink {
  text-decoration: none;
  background-color: transparent;
  color: black;
  font-weight: normal;
}

.itemHeader {
  background-color: #ffffd7;
  position: absolute;
  margin-top: 0px;
  width: 540px;
  z-index: -1;
}

.medialogTitle {
  height: 80px;
}