@font-face {
    font-family: 'MS PGothic';
    src: url('/fonts/MS-PGothic.eot');
    src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'), url('/fonts/MS-PGothic.woff2') format('woff2'), url('/fonts/MS-PGothic.woff') format('woff'), url('/fonts/MS-PGothic.ttf') format('truetype'), url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Palatino';
    src: url('/fonts/Palatino-Roman.woff2') format('woff2'),
        url('/fonts/Palatino-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-ExtraBold.woff2') format('woff2'),
        url('/fonts/Nunito-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body::-webkit-scrollbar {
    display: none;
}

div::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'MS PGothic';
    color: black;
    font-size: medium;
    width: 900px;
    position: relative;
    margin: 0 auto;
}

p {
    text-align: justify;
}

.linkspage {
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
    color: #ffada8;
}

.resourcesH3 {
    background-color:#ffada8;
    color:#fff8ed;
    font-weight:bold;
    text-align:center;
}

.box {
    border: 2px #ffada8 solid;
    background-color: #ffe9e5;
    padding: 10px;
    margin-bottom: 20px;
    font-size: small;
}

.mybutton {
    width: 230px;
    height: 80px;
    background-image: url(https://i.postimg.cc/mrbN5vLZ/basilborder.webp);
    background-size: 100% 100%;
    padding-top: 50px;
    position: absolute;
    margin-top: -300px;
    margin-left: 310px;
    border-radius: 25px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 20px #ff99e5;
    margin-bottom: 40px;
}

.button {
    font-size: 10pt;
    text-align: center;
    margin-top: -20px;
    padding-left: 40px;
    padding-right: 40px;
}

.webrings {
    height: 240px;
    width: 278px;
    padding: 10px;
    padding-top: 20px;
    background-image: url(https://i.postimg.cc/3NMvx73H/babystars.webp);
    overflow: scroll;
    margin-top: -20px;
    margin-left: -42px;
    margin-bottom: 40px;
    border-radius: 25px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 20px #6fa1ff;
    text-align: center;
}

.abtLink {
    font-weight: bold;
    text-decoration: none;
    background-color: #ffffc0;
    color:black;
}

.webringtitle {
    height: 48px;
    position: absolute;
    margin-top: -45px;
    margin-left: -30px;
}

.sonicad {
    margin-left: -40px;
    margin-top: 30px;
    width:178px;
}

.olaf {
    height: 84px;
    margin-left: -40px;
    margin-top: 32px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px lightsteelblue;
}

.wwgif {
    height: 84px;
    margin-left: 20px;
    margin-top: 32px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px lightpink;
}

.ot3 {
    height: 84px;
    margin-left: 20px;
    margin-top: 32px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rosybrown;
}

.trainercard {
    position: absolute;
    border-radius: 10px;
    width: 238px;
    margin-left: 308px;
    margin-top: -140px;
    box-shadow: 0px 0px 20px rgb(141, 127, 180);
}

.quizzes {
    width: 380px;
    height: 200px;
    border-radius: 25px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 20px gold;
    background-image: url(https://i.postimg.cc/0yGJ5hBT/startile.webp);
    background-size: 20%;
    margin-left: 160px;
    margin-top: 90px;
    overflow: scroll;
    padding-top: 24px;
    display: block;
}

.quiztitle {
    position: absolute;
    height: 46px;
    margin-left: 350px;
    margin-top: 20px;
}

.quizImg {
    width: 240px;
}

.stats {
    width: 278px;
    max-height: fit-content;
    border-radius: 25px;
    border: 2px solid transparent;
    margin-left: -40px;
    margin-top: 44px;
    box-shadow: 0px 0px 20px gold;
    padding-left: 20px;
    padding-bottom: 15px;
    background-image: url(https://i.postimg.cc/zvRVsQhP/stars.webp);
    display: block;
}

.myblurb {
    width: 200px;
    max-height: fit-content;
    border-radius: 25px;
    border: 2px solid transparent;
    margin-left: 300px;
    margin-top: -480px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 20px rgb(136, 192, 136);
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(https://i.postimg.cc/k4H2hC2b/lightgreentexture.webp);
    padding-bottom: 10px;
    display: block;
}

.email {
    width: 170px;
    height: 120px;
    border-radius: 25px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 20px lightpink;
    background-image: url(https://i.postimg.cc/0Qj6fjyv/heart.webp);
    margin-left: -40px;
    margin-top: -228px;
    display: block;
}

.emailgif {
    height: 80px;
    margin-top: -16px;
    margin-left: 34px;
}

.hakaseImg {
    border-radius: 25px;
    width: 300px;
    height: 160px;
    margin-left: -40px;
    box-shadow: 0 0 20px pink;
    margin-top: 40px;
}

.mobwebring {
    margin-top: 15px;
    margin-left: 48px;
    margin-bottom: 20px;
    text-align: center;
}

.aboutFavs {
    height: 50px;
    position: absolute;
    margin-top: 210px;
    margin-left: -170px;
}

.bt1 {
    background: white;
    height: 100px;
    width: 250px;
    border-radius: 50%;
    transform: rotate(-10deg);
    -moz-box-shadow:inset 0 0 10px #97b429;
    -webkit-box-shadow:inset 0 0 10px #97b429;
    border: 2px hotpink dotted;
    font-family: 'Nunito';
    display: block;
    position: absolute;
}

.blogtxt1 {
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: larger;
    text-decoration: underline;
    color: #886bef;
    text-shadow: 1px 1px 7px turquoise;
}

.blogtxt1:hover {
    color: blue;
    text-shadow: 1px 1px 7px hotpink;
    cursor: default;
}

.bt2 {
    display: flexbox;
    position: relative;
    margin-left: 270px;
    background: white;
    height: 80px;
    width: 230px;
    border-radius: 50%;
    transform: rotate(7deg);
    -moz-box-shadow:inset 0 0 10px turquoise;
    -webkit-box-shadow:inset 0 0 10px turquoise;
    border: 2px blue dotted;
    font-family: 'Nunito';
}

.blogtxt2 {
    text-align: center;
    margin-top: 16px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: larger;
    text-decoration: underline;
    font-family: 'Palatino';
    font-weight: bolder;
    color: hotpink;
    text-shadow: 1px 1px 7px gold;
}

.blogtxt2:hover {
    color: hotpink;
    text-shadow: 1px 1px 7px turquoise;
    cursor: default;
}

.bt3 {
    display: flexbox;
    position: relative;
    margin-left: 168px;
    margin-top: -105px;
    margin-bottom: 20px;
    background: white;
    height: 90px;
    width: 280px;
    border-radius: 50%;
    transform: rotate(2deg);
    -moz-box-shadow:inset 0 0 10px violet;
    -webkit-box-shadow:inset 0 0 10px violet;
    border: 2px orange dotted;
    font-family: 'Nunito';
}

.blogtxt3 {
    text-align: center;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: larger;
    text-decoration: underline;
    font-family: 'MS Gothic';
    font-weight: bolder;
    color: #539e0f;
    text-shadow: 1px 1px 7px orange;
}

.tulip {
    display: flexbox;
    position: relative;
    margin-left: -20px;
    margin-top: -10px;
    -webkit-filter: drop-shadow(2px 5px 2px yellowgreen);
    filter: drop-shadow(2px 2px 5px pink);
    width: 104px;
    height: 114px;
}

.blogimg {
    padding: 10px;
}

/* for blog down below */
.cont {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.collapsible {
    background: white;
    color: #7e75f6;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'MS Gothic';
    padding: 18px;
    width: 500px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    -moz-box-shadow:inset 0 0 10px rgb(198, 130, 238);
    -webkit-box-shadow:inset 0 0 10px rgb(198, 130, 238);
}

.collapsible:hover {
    color: #8bcd37;
}

.blogcontent {
    display: none;
    padding-left: 18px;
    padding-right: 18px;
    overflow: hidden;
    width: 464px;
    font-family: 'Palatino';
    text-align: justify;
    font-size: small;
    background: url(https://i.postimg.cc/8PJRGKDG/whitegrain.gif);
    -moz-box-shadow:inset 0 0 10px #8bcd37;
    -webkit-box-shadow:inset 0 0 10px #8bcd37;
    transition: max-height 0.2s ease-out;
}

/* down here is tab styling */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.shrineImg {
    opacity: 1;
    display: block;
    width: 90%;
    height: 120px;
    border-radius: 25px;
    margin-bottom: 26px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.shrinecont {
    position: relative;
    width: 100%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 36%;
    left: 46%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.shrinecont:hover .image {
    opacity: 0.3;
}

.shrinecont:hover .middle {
    opacity: 1;
}

.text {
    color: white;
    font-size: 38pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 5px;
    font-style: italic;
}

.insidemarizine {
    width: 100%;
    height: 165px;
    border: darkred dashed 1px;
}

.bloglink {
    color: #886bef;
    font-weight: bold;
    text-decoration: underline;
}

.zineimgR {
    transform: rotate(8deg);
}

.zineimgL {
    transform: rotate(-10deg);
}

.zinetxt {
    width: 140px;
    text-align: center;
    padding: 10px;
}

.toyboxTitle {
    height: 80px;
    position: absolute;
    margin-left: 330px;
    margin-top: -30px;
}

.TBtab {
    overflow: hidden;
    background-color: #d0e7a2;
    width: 530px;
    margin-left: 30px
}

.TBtab button {
    background-color: inherit;
    float: left;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    transition: .3s;
    font-size: small;
    height: 30px
}

.TBtab button:hover {
    background-color: #b2cb7f;
}

.TBtab .active {
    background-color: #b2cb7f;
}

.TBtabcontent {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: -20px;
    border-top: 0;
    width: 486px;
    background-color: white;
    border: #b2cb7f 2px dashed;
    height: 600px;
    margin-left: 30px;
}

.miiring {
    width: 135px;
    margin: auto;
    margin-bottom: 30px;
}

.blinkees {
    width: 330px;
    margin-top: -10px;
    margin-left: -40px;
    position: absolute;
    direction: rtl;
}

.JFFdiv {
    margin: auto;
    width: 200px;
    margin-bottom: 20px;
}

.JFFlink {
    background-color: #6797ed;
    color: #c9e9fc;
    text-align: center;
}


.cover {
    float: left;
    padding-left: 0px;
    padding-right: 8px;
    width: 123px;
    height: 185px;
    display: block;
}

/* code-div.js */
#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: hidden;
    width: 520px;

  }

  

  
.item {
    overflow-y: hidden;
    padding-right: 20px;
    margin: 20px;
    width: 520px;
}