@font-face {
    font-family: 'MS PGothic';
    src: url('/fonts/MS-PGothic.eot');
    src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'), url('/fonts/MS-PGothic.woff2') format('woff2'), url('/fonts/MS-PGothic.woff') format('woff'), url('/fonts/MS-PGothic.ttf') format('truetype'), url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MS PGothic';
    color: black;
    font-size: medium;
    width: 900px;
    position: relative;
    margin: 0 auto;
}

p {
    text-align: justify;
}

.linkspage {
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
    color: #ffada8;
}

.box {
    border: 2px #ffada8 solid;
    background-color: #ffe9e5;
    padding: 10px;
    margin-bottom: 20px;
    font-size: small;
}

.mybutton {
    width: 230px;
    height: 80px;
    background-image: url(/pics/backgrounds/basil_border.webp);
    background-size: 100% 100%;
    padding-top: 50px;
    position: absolute;
    margin-top: -314px;
    margin-left: 310px;
    border-radius: 25px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 20px #ff99e5;
    margin-bottom: 40px;
}

.button {
    font-size: 10pt;
    text-align: center;
    margin-top: -20px;
    padding-left: 40px;
    padding-right: 40px;
}

.webrings {
    height: 240px;
    width: 300px;
    padding: 10px;
    padding-top: 20px;
    background-image: url(https://sadhost.neocities.org/images/tiles/Background064.gif);
    overflow: scroll;
    margin-top: 50px;
    margin-left: -42px;
    margin-bottom: 40px;
    border-radius: 25px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 20px #6fa1ff;
}

.webringtitle {
    height: 48px;
    position: absolute;
    margin-top: 30px;
    margin-left: -24px;
}

.olaf {
    height: 84px;
    margin-left: -40px;
    margin-top: 32px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px lightsteelblue;
}

.wwgif {
    height: 84px;
    margin-left: 20px;
    margin-top: 32px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px lightpink;
}

.ot3 {
    height: 84px;
    margin-left: 20px;
    margin-top: 32px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rosybrown;
}

.trainercard {
    position: absolute;
    border-radius: 10px;
    width: 238px;
    margin-left: 308px;
    margin-top: -140px;
    box-shadow: 0px 0px 20px rgb(141, 127, 180);
}

.quizzes {
    width: 380px;
    height: 200px;
    border-radius: 25px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 20px gold;
    background-image: url(/pics/backgrounds/startile.webp);
    background-size: 20%;
    margin-left: 160px;
    margin-top: 90px;
    overflow: scroll;
    padding-top: 24px;
}

.quiztitle {
    position: absolute;
    height: 46px;
    margin-left: 350px;
    margin-top: 20px;
}

.quizImg {
    width: 240px;
}

.stats {
    width: 278px;
    height: 144px;
    border-radius: 25px;
    border: 2px solid transparent;
    margin-left: -40px;
    margin-top: 44px;
    box-shadow: 0px 0px 20px gold;
    padding-left: 20px;
    background-image: url(/pics/backgrounds/stars.webp);
}

.myblurb {
    width: 200px;
    max-height: fit-content;
    border-radius: 25px;
    border: 2px solid transparent;
    margin-left: 300px;
    margin-top: -480px;
    box-shadow: 0px 0px 20px rgb(136, 192, 136);
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(/pics/backgrounds/bgif096.webp);

}

.email {
    width: 170px;
    height: 120px;
    border-radius: 25px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 20px lightpink;
    background-image: url(/pics/backgrounds/heart.webp);
    margin-left: -40px;
    margin-top: -228px;
}

.emailgif {
    height: 80px;
    margin-top: -16px;
    margin-left: 34px;
}

.hakaseImg {
    border-radius: 25px;
    width: 300px;
    margin-left: -40px;
    box-shadow: 0 0 20px pink;
    margin-top: 40px;
}

.mobwebring {
    margin-top: 15px;
    margin-left: 58px;
    margin-bottom: 20px;
    text-align: center;
}

.aboutFavs {
    height: 50px;
    position: absolute;
    margin-top: 216px;
    margin-left: -140px;
}

/* for blog down below */
.cont {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 500px;
    
}

.collapsible {
    background: url(https://sadhost.neocities.org/images/tiles/skystarlight.gif);
    background-size: auto;
    color: white;
    font-weight: bolder;
    font-family: 'MS PGothic';
    padding: 18px;
    width: 500px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.blogcontent {
    padding-left: 18px;
    padding-right: 18px;
    overflow: hidden;
    width: 470px;
    text-align: justify;
    font-size: medium;
    background-color: #efefff;
    display: none;
    transition: max-height 0.2s ease-out;
}

/* down here is tab styling */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.shrineImg {
    opacity: 1;
    display: block;
    width: 90%;
    height: 120px;
    border-radius: 25px;
    margin-bottom: 26px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.shrinecont {
    position: relative;
    width: 100%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 36%;
    left: 46%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.shrinecont:hover .image {
    opacity: 0.3;
}

.shrinecont:hover .middle {
    opacity: 1;
}

.text {
    color: white;
    font-size: 38pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 5px;
    font-style: italic;
}

.insidemarizine {
    width: 100%;
    height: 165px;
    border: darkred dashed 1px;
}

.bloglink {
    background-color: #886bef;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.zineimgR {
    transform: rotate(8deg);
}

.zineimgL {
    transform: rotate(-10deg);
}

.zinetxt {
    width: 140px;
    text-align: center;
    padding: 10px;
}

.toyboxTitle {
    height: 80px;
    position: absolute;
    margin-left: 330px;
    margin-top: -30px;
}

.TBtab {
    overflow: hidden;
    background-color: #d0e7a2;
    width: 530px;
    margin-left: 30px
}

.TBtab button {
    background-color: inherit;
    float: left;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    transition: .3s;
    font-size: small;
    height: 30px
}

.TBtab button:hover {
    background-color: #b2cb7f;
}

.TBtab .active {
    background-color: #b2cb7f;
}

.TBtabcontent {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: -20px;
    border-top: 0;
    width: 486px;
    background-color: white;
    border: #b2cb7f 2px dashed;
    height: 600px;
    margin-left: 30px;
}

.miiring {
    width: 135px;
    margin: auto;
    margin-bottom: 30px;
}

.blinkees {
    width: 330px;
    margin-top: -10px;
    margin-left: -40px;
    position: absolute;
    direction: rtl;
}

.JFFdiv {
    margin: auto;
    width: 200px;
    margin-bottom: 20px;
}

.JFFlink {
    background-color: #6797ed;
    color: #c9e9fc;
    text-align: center;
}


.cover {
    float: left;
    padding-left: 0px;
    padding-right: 8px;
    width: 123px;
    height: 185px;
    display: block;
}

/* code-div.js */
#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: hidden;
    width: 520px;

  }

  

  
.item {
    overflow-y: hidden;
    padding-right: 20px;
    margin: 20px;
    width: 520px;
  }