@font-face {
    font-family: 'MS PGothic';
    src: url('/fonts/MS-PGothic.eot');
    src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'), url('/fonts/MS-PGothic.woff2') format('woff2'), url('/fonts/MS-PGothic.woff') format('woff'), url('/fonts/MS-PGothic.ttf') format('truetype'), url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -0px); } 
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'MS PGothic';
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(https://angelgarden.neocities.org/imgggg/bgg.gif);
    padding-top: 30px;
}

a:hover {
    text-decoration: none;
    -webkit-filter: drop-shadow(0px 0px 8px pink);
    filter: drop-shadow(0px 0px 8px pink);
}

.container {
    background: #fcbabf;
    color: white;
    z-index: 0;
}

.border {
    margin: 0 auto;
    height: 620px;
    width: 95%;
    top: 50%;
    border-width: 7px;
    border-style: solid;
    border-image: url(/pics/backgrounds/yellowborder.png) 8 fill round;
    padding: 35px;
}

.inner {
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 3px solid white;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 14px #fcd0db; 
}

table.shrineTable {
    width: 99%;
    margin-top: 50px;
    height: 400px;
    text-align: center;
    z-index: 2;
}

.linkIcon {
    height: 80px;
}

.linkIcon:hover {
    animation-name: floating;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#remus {
    mask:
   radial-gradient(at 70% 31%,#000 29%,#0000 30%),
   radial-gradient(at 30% 31%,#000 29%,#0000 30%),
   linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
}

.titleImg {
    z-index: 1;
    width: 92%;
    position: absolute;
    top: 42%;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: xxx-large;
    text-shadow: -3px 0 #fea8b3, 0 3px #fea8b3, 3px 0 #fea8b3, 0 -3px #fea8b3;;
}

.titleDesc {
    z-index: 1;
    font-size: small;
    width: 34%;
    text-align: center;
    position: absolute;
    top: 51%;
    margin: 0 auto;
    margin-left: 29%;
}