@font-face {
    font-family: 'MS PGothic';
    src: url('/fonts/MS-PGothic.eot');
    src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'), url('/fonts/MS-PGothic.woff2') format('woff2'), url('/fonts/MS-PGothic.woff') format('woff'), url('/fonts/MS-PGothic.ttf') format('truetype'), url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

body {
    background-image: url(https://i.pinimg.com/564x/9b/9b/fd/9b9bfdbf649f4bc89b7bc66d7541dfdc.jpg);
    font-family: 'MS PGothic';
}

h1 {
    font-family: 'MS Gothic';
    text-shadow: 0 0 10px hotpink;
    color: white;
}

.container {
    width: 1050px;
    height: 750px;
    margin: 0 auto;
    z-index: 2;
}

.header {
    width: 100%;
    height: 170px;
    margin-bottom: 10px;
    background-image: url(https://i.postimg.cc/3R77YsB5/pm-hb.webp);
    background-size: cover;
    border-radius: 50%;
}
.left {
    background-image: url(https://i.postimg.cc/BZRckJJb/flowers.webp); background-size: cover;
    background-position: center;
    float: left;
    width: 180px;
    height: 100%;
    border-radius: 10px;
    overflow: scroll; z-index: 2;
    box-shadow:inset 0 0 20px #ffffff;
}

.left button {
    width: 150px; height: auto;
    margin: 0 auto;
    border: 5px #ffc5ec solid;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
    border-radius: 10px; 
}

.left button:hover {
    box-shadow: 0 0 20px rgb(0, 255, 255);
    background-color: transparent;
}

.right {
    background-image: url(https://i.postimg.cc/BZRckJJb/flowers.webp); background-size: cover;
    float: right;
    width: 180px;
    height: 100%;
    border-radius: 10px;
    overflow: scroll;
    box-shadow:inset 0 0 20px #ffffff;
}

.right button {
    width: 150px; height: auto;
    margin: 0 auto;
    border: 5px #00d9ff solid;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
    border-radius: 10px;
}

.right button:hover {
    box-shadow: 0 0 20px #90ff5c;
    background-color: transparent;
}

.cd {
    width: 100%; height: 100%;
    border-radius: 5px;
    margin-bottom: -3px; 
}

.tabcontent { 
    height: 500px; z-index: 2;
    display: none;
    margin-left: 200px;
    width: 600px; height: 725px;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

.artist {
    font-style: italic;
    color: #ffffff;
    text-shadow: 0 0 10px #2faafc;
}

a {
    color: #2faafc; text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
    font-weight: bold;
}

a:hover {
    color: hotpink; text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
}

.spin {
    width: 140px; padding: 10px; float: right; animation: rotation 2s infinite linear;
}

.fairy {
    position: absolute;
    width: 250px; height: auto;
    margin-left: 700px; margin-top: -200px;
    filter: drop-shadow(0 0 10px #00a2ff8f);
    animation: floating 3s infinite;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

.headertxt {
    margin-left: 500px; margin-top: -90px;
    padding-right: 90px;
}