@font-face {
    font-family: 'MS PGothic';
    src: url('/fonts/MS-PGothic.eot');
    src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'), url('/fonts/MS-PGothic.woff2') format('woff2'), url('/fonts/MS-PGothic.woff') format('woff'), url('/fonts/MS-PGothic.ttf') format('truetype'), url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'MS PGothic';
    padding-left: 60px;
    padding-right: 60px;
    background-image: url(https://i.postimg.cc/8PJRGKDG/whitegrain.gif);
  }

  p {
    margin: 0;
    font-family: 'MS PGothic';
  }

  body::-webkit-scrollbar {
    display: none;
}
  
  h3 {
    font-size: medium;
    text-align: center;
    font-weight:100 ;
  }
  
  a {
    font-weight: bold;
    color: rgb(247, 144, 184);
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  header{
    text-align:center;
  }
    
  /* code-div.js */
  #content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
  }
    
  .item {
    width: 400px;
    overflow: scroll;
    overflow-y: hidden;
    padding: 10px;
    margin: 10px;
    padding: 15px;
  }

.img {
    width: 110px;
    filter: grayscale(100%);
    transition: width 2s, height 2s, transform 1s;
    float: left;
    padding-right: 15px;
    transition: 0.5s;
}

.img:hover {
    transform: rotate(-5deg);
    filter: none;
    
}

.hover:hover {
    -webkit-filter: drop-shadow(0px 0px 3px pink);
    filter: drop-shadow(0px 0px 3px pink);
}