@font-face {
    font-family: 'MS PGothic';
    src: url('/fonts/MS-PGothic.eot');
    src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/MS-PGothic.woff2') format('woff2'),
        url('/fonts/MS-PGothic.woff') format('woff'),
        url('/fonts/MS-PGothic.ttf') format('truetype'),
        url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DOS';
    src: url('/fonts/perfect_dos_vga_437-webfont.woff2') format('woff2'),
         url('/fonts/perfect_dos_vga_437-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@keyframes spin2 { 
    0% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -0px); } 
}

* {
    font-family: 'MS PGothic';
    box-sizing: border-box;
    text-align: justify;
}

a {
    font-weight: bolder;
    text-decoration: underline;
    color: #74954f;
}

a:hover {
    color:rgb(116, 66, 31);
}


body {
    color:rgb(116, 66, 31);
    background: url(/pics/backgrounds/kukuroo.png);
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    overflow:auto;
}

.title {
    color: #f1d976;
    text-align: center;
    font-size: 40pt;
    margin-bottom: 20px;
    font-family: 'MS PGothic';
    text-shadow: 0 -3px #74954f, 3px 0 #74954f, 0 3px #74954f, -3px 0 #74954f;
}

.intro {
    text-align: center;
    font-size: medium;
    line-height: 20px;
    color: #74954f;
    background-color: #f1d976;
}

.tab {
    overflow: hidden;
    border: 2px dashed #f1d976;
    background-color: #74954f;
    width: 1026px;
    margin: 0 auto;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #f1d976;
}

.tab button.active {
    background-color: #f1d976;
}

.tabcontent {
    display: none;
    padding: 10px 40px;
    border: 1px solid #f1d976;
    border-top: none;
    width: 1026px;
    height: 550px;
    overflow: auto;
    background-color: beige;
    margin: 0 auto;
}

#home {
    overflow: hidden;
}

.homeimg1 {
    float: left;
    height: 180px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.homeimg2 {
    float: right;
    padding-left: 10px;
    padding-top: 5px;
    height: 150px;
}

.homeHeader {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

body::-webkit-scrollbar {
    display: none;
}

#homeWatch {
    animation-name: floating;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

img.howto {
    height: 170px;
    width: 120px;
    margin: 0 auto;
    display: block;
}

p.howto {
    text-align: center;
}

h2 {
    font-family: 'DOS';
    color: white;
    font-weight: bolder;
    font-size: 38pt;
}

.songs1 {
    text-shadow: 0 -4px #8caf4c, 4px 0 #8caf4c, 0 4px #8caf4c, -4px 0 #8caf4c;
    animation: floating 2s infinite;
    margin-top: 10px;
}

.songs2 {
    margin-top: 0px;
    text-shadow: 0 -4px #f7b322, 4px 0 #f7b322, 0 4px #f7b322, -4px 0 #f7b322;
    animation: floating 2s infinite;
    margin-left: 60px;
}

.songs3 {
    margin-top: 0px;
    margin-left: 60px;
    text-shadow: 0 -4px #80c4e4, 4px 0 #80c4e4, 0 4px #80c4e4, -4px 0 #80c4e4;
    animation: floating 2s infinite;
    margin-left: 120px;
}

.songs4 {
    margin-top: 0px;
    text-shadow: 0 -4px #bc80e4, 4px 0 #bc80e4, 0 4px #bc80e4, -4px 0 #bc80e4;
    animation: floating 2s infinite;
    margin-left: 180px;
}

.songs5 {
    margin-top: 0px;
    text-shadow: 0 -4px #ff67b3, 4px 0 #ff67b3, 0 4px #ff67b3, -4px 0 #ff67b3;
    animation: floating 2s infinite;
    margin-left: 240px;
}

.songs6 {
    margin-top: 0px;
    text-shadow: 0 -4px #6783ff, 4px 0 #6783ff, 0 4px #6783ff, -4px 0 #6783ff;
    animation: floating 2s infinite;
    margin-left: 300px;
}

.songsLink {
    font-family: 'DOS';
    text-decoration: none;
    color: white;
}

.songsLink:hover {
    color: white;
}

.songImg {
    animation: spin 4s linear infinite;
    height: 60px;
}

.songImg2 {
    animation: spin2 4s linear infinite;
    height: 60px;
}

