@font-face {
    font-family: 'MS PGothic';
    src: url('/fonts/MS-PGothic.eot');
    src: url('/fonts/MS-PGothic.eot?#iefix') format('embedded-opentype'), url('/fonts/MS-PGothic.woff2') format('woff2'), url('/fonts/MS-PGothic.woff') format('woff'), url('/fonts/MS-PGothic.ttf') format('truetype'), url('/fonts/MS-PGothic.svg#MS-PGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MS PGothic';
    color: black;
    font-size: medium;
    width: 900px;
    position: relative;
    margin: 0 auto;
}

.container {
    width: 900px;
    border: 1px dashed green;
    float: left;
    display: flex;
    padding: 20px;
    background-image: url(https://boything.neocities.org/pics/backgrounds/page_background_animated_04.gif);
    z-index: 0;
    height: 1230px;
    margin-bottom: 140px;
    margin-left: -70px;
}

.welcome {
    width: 100%;
    border: 2px cornflowerblue dashed;
    z-index: 2;
    height: 150px;
    padding-left: 20px;
    margin-left: 100px;
    overflow: scroll;
    padding-left: 65px;
    padding-right: 20px;
    background: url(https://sadhost.neocities.org/images/tiles/Background064.gif);
}

.homeTitle {
    margin-top: 10px;
    float: right;
    margin-right: -20px;
    margin-bottom: -20px;
    z-index: 500;
    display: flex;
    position: relative;
}

.polaroid {
    z-index: 1000;
    display: flex;
    position: absolute;
    width: 260px;
    margin-left: -100px
}

div.piclog {
    width: 156px;
    border: 2px darkseagreen dashed;
    height: 200px;
    position: absolute;
    float: right;
    margin-top: 169px;
    display: grid;
    margin-left: 740px;
    overflow: hidden;
    z-index: 2;
}

img.piclog {
    width: 100%;
    height: 200px;
}

.piclogTitle {
    height: 40px;
    position: absolute;
    z-index: 5;
    margin-top: 154px;
    margin-left: 823px;
}
.fanclubs {
    position: absolute;
    margin-top: 430px;
    margin-left: 10px;
    width: 887px;
    height: 62px;
    z-index: 1;
    border: 2px plum dashed;
}

.sotw {
    border: 2px hotpink dashed;
    width: 620px;
    height: 121px;
    position: absolute;
    margin-left: 100px;
    margin-top: 169px;
    z-index: 2;
    background-image: url(https://sadhost.neocities.org/images/tiles/gskbg.jpg)
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}

.naviTitle {
    position: absolute;
    z-index: 2;
    margin-top: 500px;
    margin-left: 157px;
}

.box {
    border: 2px #ffada8 solid;
    background-color: #ffe9e5;
    padding: 10px;
    margin-bottom: 20px;
    font-size: small;
}

.fanclubTitle {
    padding: 5px;
    margin-top: -70px;
    margin-left: 120px;
    background-color: pink;
    color: white;
    z-index: 1;
    width: 575px;
    margin-bottom: 50px;
}

.fanclubTitlebox {
    position: absolute;
    margin-top: 440px;
    margin-left: 20px;
    width: 870px;
}

.homeNote {
    position: absolute;
    margin-top: 300px;
    margin-left: 120px;
    width: 590px;
}

a.homeNotelink {
    color: white;
    font-weight: bold;
    background-color: #6495ed;
}

/* Style the tab */
.navi {
    float: left;
    display: flex;
    position: absolute;
    width: 220px;
    height: 360px;
    margin-top: 520px;
    margin-left: 10px;
    padding: 15px;
    background-image: url(https://boything.neocities.org/pics/backgrounds/rainbow.webp);
    opacity: 0.9;
    background-size: cover;
    border: 2px #549f0e dashed;
    border-radius: 15px 15px 15px 15px;
    box-sizing: border-box;
}

/* Style the buttons that are used to open the tab content */
.naviLink {
    text-align: center;
    background-color: #e5fe89;
    color: #549f0e;
    padding: 3px;
    width: 187px;
    height: 26px;
    border: none;
    font-weight: bold;
    box-sizing: border-box;
    position: absolute;
    text-decoration: underline;
}

/* Change background color of buttons on hover */
.naviLink:hover {
    text-align: center;
    background-color: #ffd3e8;
    color: #ed709c;
    position: absolute;
    padding: 3px;
    width: 187px;
    height: 26px;
    border: none;
    font-weight: bold;
    box-sizing: border-box;
    text-decoration: underline;
}

/* Create an active/current "tab button" class */
.naviLink.active {
    text-align: center;
    background-color: #ffd3e8;
    color: #ed709c;
    position: absolute;
    padding: 3px;
    width: 187px;
    height: 26px;
    border: none;
    font-weight: bold;
    box-sizing: border-box;
    text-decoration: underline;
}

/* Style the tab content */
.mainbox {
    margin-top: 520px;
    margin-left: 257px;
    position: absolute;
    height: 700px;
    width: 640px;
    border: 2px #ed709c dashed;
    box-sizing: border-box;
    overflow: scroll;
    border-radius: 15px 15px 15px 15px;
}

.palestine {
    position: relative;
    height: 100px;
    margin-left: 600px;
    margin-top: -80px;
    opacity: 100%;
}

.palestine:hover {
    -webkit-filter: drop-shadow(5px 15px 5px #e6ff8a);
    filter: drop-shadow(5px 5px 15px #e6ff8a);
}

.fakead {
    position: absolute;
    height: 124px;
    width: 220px;
    padding: 3px;
    box-sizing: border-box;
    margin-top: 1100px;
    margin-left: 10px;
}

.drawbox {
    position: absolute;
    border: #6fa1ff 2px dashed;
    border-radius: 15px 15px 15px 15px;
    width: 220px;
    height: 170px;
    padding: 3px;
    box-sizing: border-box;
    margin-top: 922px;
    margin-left: 10px;
}

.drawme {
    background-color: #ffc0cb;
    border-radius: 10px;
    position: absolute;
    padding: 6px;
    margin-top: 888px;
    margin-left: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 11pt;
}

.kittycat {
    margin-top: 1070px;
    z-index: 9;
    margin-left: 760px;
    position: absolute;
    height: 260px;
}

.sotwTable {
    float: right;
    border: 0;
    width: 440px;
    margin-top: -16px;
    padding-right: 10px;
}

.sotwH {
    margin-bottom: 5px;
    text-align: center;
}

.sotwMarquee {
    width: 100%;
    background-color: lightpink;
    color: white;
    margin-bottom: 12px;
}

.butterfly {
    position: absolute;
    margin-left: 744px;
    margin-top: 300px;
    z-index: 2;
}