body {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 65vw;
    left: 50%;
    margin-left: -32.5vw;
    background: url(/assets/03-images/whitegrain.gif);
}

html {padding: 40px;}
p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: white;
    font-size: 2vw;
    text-align: justify;
    text-shadow: 0.1vw 0.1vw #76C066;
    line-height: 1.75vw;
    margin: 0;
    color: #AD2BBB;
    margin-bottom: 8px;
}

sub {
    color: #AD2BBB;
    font-style: italic;
    text-align: right;
    margin-top: -15px;
}

li {
    color: white;
    font-size: 2vw;
    text-shadow: 0.1vw 0.1vw #76C066;
    color: rgb(173, 43, 187);
}

#s-m-t-tooltip {
    text-shadow: -1px -1px 0 #48793d, 1px -1px 0 #48793d, -1px 1px 0 #48793d, 1px 1px 0 #48793d;
    color: #fff;
    font-family: Nunito;
    max-width: 220px;
    z-index: 5;
    margin: -24px 14px 7px -120px;
    padding: 8px;
    background: url(/assets/03-images/greenpurple.png) center;
    border: 2px solid rgb(118, 192, 102);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 0 #ff0, -1px -1px 0 #ffffff;
    -webkit-box-shadow: 2px 2px 0 #ff0, -1px -1px 0 #ffffff;
    box-shadow: 0 0 7px #ff0;
    font-weight: 700;
    text-align: center;
    font-size: small;
}

.video {
    width: 50vw;
    height: 38vw;
    margin: 0 auto;
    display: block;
    border-radius: 25px;
    border: 2px solid #76C066;
    box-shadow: #ad2bbb96 2px 0 20px;
}

h2,
h3 {
    color: #d329e6;
    text-shadow: #fbff00 2px 1px 10px;
    text-align: right;
}
h3 {text-align: left;}

a {
    color: #76C066;
    text-shadow: 0.1vw 0.1vw #AD2BBB;
}

a:hover {
    font-style: italic;
}


.homeimg1 {
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    height: 16vw
}

.imageR {
    float: right;
    width: 25vw;
}

.imageL {
    float: left;
    width: 25vw;
}

img {
    padding:10px
}