@font-face{font-family:'ANK24';src:url("/public/fonts/Web437_DOS-V_re_ANK24.woff2") format("woff2"),url("/public/fonts/Web437_DOS-V_re_ANK24.woff") format("woff");font-weight:400;font-style:normal;font-display:swap}
*{
    font-family: 'ANK24';
}
body{
    background: url(/public/assets/03-images/mmascii.png) center center/cover no-repeat fixed;
}
h2{
    background-color: white;
    border: 2px solid greenyellow;
    padding: 4px;
}
label{
  display: block;
  background-color: white;
  width: 65vw; padding: 4px;
  border: 1px dashed blue;
}
label input[type=checkbox]:checked + span{
  text-decoration: line-through;
}
button{
    background-color: hotpink;
    border: none; padding: 4px;
    color: white; font-style: italic;
    margin-bottom: 5px;
}
td, th {
    border: 2px gold solid;
    padding: 5px;
    text-align: center;
}
table {
    width: 100%;
}