/* Melon's Gallery Maker! - Pixel Shop v0.2 */
@font-face{font-family:'MS Gothic';src:url('/fonts/MS-Gothic.woff2') format('woff2'),url('/fonts/MS-Gothic.woff') format('woff');font-weight:400;font-style:normal;font-display:swap}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #000000;
    font-size: 0.9em;
    background-image: url(https://i.postimg.cc/zvq25Wh6/gallerybg.webp);
    background-size: 100% auto;
    font-weight: 700;
    margin-top: 40px;
    width: 600px;
}

a,
a:visited {
    color: hotpink;
    text-shadow: 1px 1px rgba(53, 238, 36, 0.425);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    font-weight: normal;
}

header,
section,
footer {
    margin: 15px;
}

header,
body > section {
    padding-bottom: 5px;
}

h1,
h1 a,
h1 a:visited {
    color: red;
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
    margin: 20px;
    text-shadow: 4px 4px 10px rgb(255, 251, 0);
}

h2 {
    border-top: 3px double #ff0097;
    background-image: linear-gradient(180deg, rgba(192, 241, 255, 0.387) 5%, rgba(255, 255, 255, 0) 77%);
}

nav {
    margin: 10px;
    clear: both;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    padding-top: 30px;
    clear: both;
    font-size: 0.7em;
}

#wrapper {
    margin: 40px auto;
}

/* Gallery Pages */

#photos {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

#photos figure {
    margin: 5px;
    max-width: min-content;
}


#photos span {
    text-align: center;
    display: block;
    font-family: 'MS Gothic';
    font-style: normal;
}

#photos figcaption {
    padding: 10px 0px;
    text-shadow: 0 0 10px turquoise;
}

.page-links {
    text-align: center;
}
.page-links ul {
    padding: 0px 5px;
    display: inline-block;
}
.page-links li {
    list-style: none;
    display: inline;
    margin: 0px 5px;
}
.page-links li:after {
    content: ",";
}

/* Styling for JavaScript viewer (if enabled) */

#js-viewer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 247, 247, 0.343);
    filter: drop-shadow(0px 0px 50px rgba(44, 241, 199, 1));
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#js-viewer img {
    max-width: 95%;
    max-height: 80%;
    height: auto;
    width: auto;
    border-radius: 10px;
    border: 3px double #ff0097;
}

#js-viewer span {
    margin-top: 10px;
}

#js-viewer span button {
    font-size: 1.5em;
    padding: 6px;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 20px;
    background-color: hotpink;
    cursor: pointer;
    font-family: MS Gothic;
    font-weight: bold;
}

#js-viewer span button:hover {
    border: 2px solid #ffb9ea;
    background-color: yellowgreen;
}

.tt-img {
    display: block;
}

.tt-img .tt-text {
    visibility: hidden;
    background-image: url(https://i.postimg.cc/XJvjk0PM/tooltipbg.webp);
    background-size: 100% 100%;
    border: turquoise 2px solid;
    border-radius: 20px;
    color: blue;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    font-family: 'MS Gothic'; font-weight: bold;
    text-align: center; padding: 5px;
    height: fit-content;
    box-shadow:inset 0 0 15px gold;
    filter: drop-shadow(0 0 5px #c540e0);
    position: absolute;
    width: 130px;
    z-index: 100;
    right: 70%; top: 22%; left: 8%;
}
.tt-img:hover .tt-text {
    visibility: visible;
}
.tt-img .tt-text::after {content: " "; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-color: turquoise transparent transparent transparent; border-width: 10px; border-style: solid;}